[2022-08-17 22:31] brittanyjoiner15 opened #1 "Update to typescript"
Not really a story for the user, but more for the developer. Ideally we could update this app to be in Typescript instead of Javascript, but it's a low priority and a slightly ambitious task.

[2022-08-17 22:31] brittanyjoiner15 opened #2 "As a user, I can create an issue to file a bug from a template"
Create an issue template so that when someone comes to this repo to file a bug or request a feature, they can choose from an issue template for a new bug.

Please use the checklist from the items in the [contributing guidelines](https://github.com/brittanyjoiner15/eui-event/blob/main/contributing.md) to create sections of an issue for each bullet point. Ie, the bug template should have checklist /

[2022-08-17 22:31] brittanyjoiner15 opened #3 "Replace speaker data with mock speakers"
┆Issue is synchronized with this [Jira Task](https://brittanyjoiner.atlassian.net/browse/EES-4) by [Unito](https://www.unito.io)

[2022-08-17 22:31] brittanyjoiner15 opened #4 "Go through code cleanups"
┆Issue is synchronized with this [Jira Task](https://brittanyjoiner.atlassian.net/browse/EES-3) by [Unito](https://www.unito.io)

[2022-08-17 22:32] brittanyjoiner15 opened #5 "Add docs to describe key features"
┆Issue is synchronized with this [Jira Task](https://brittanyjoiner.atlassian.net/browse/EES-2) by [Unito](https://www.unito.io)

[2022-08-17 22:32] brittanyjoiner15 opened #6 "Create conbtribution guidelines"
┆Issue is synchronized with this [Jira Task](https://brittanyjoiner.atlassian.net/browse/EES-1) by [Unito](https://www.unito.io)

[2022-08-17 23:37] brittanyjoiner15 opened #7 "Remove "poor mans auth" to not be misleading"
┆Issue is synchronized with this [Jira Task](https://brittanyjoiner.atlassian.net/browse/EES-7) by [Unito](https://www.unito.io)

[2022-08-23 20:26] brittanyjoiner15 opened #12 "As a user, I can sort the table by talk date, time, or topic name"
Right now the table can't be sorted. But it should be fairly straightforward to add sorting to the table. https://elastic.github.io/eui/#/tabular-content/tables#adding-sorting-to-a-table

Ideally, we can sort:

* session date
* session time
-session name

Any others are a bonus, but not required.

[2022-08-25 17:30] brittanyjoiner15 opened #13 "As a user, I can access the different tabs by route"
Add a router so that going to `/talks` displays the talks component, `/speaker`, etc and clicking on the logo takes you back home.

I'm leaning towards React Router, or Hook Router, but if you know of another alternative, I'm open to it!

[2022-09-16 02:51] brittanyjoiner15 commented on #7
Resolved this already

[2022-09-16 02:51] #7 closed, assigned to nobody

[2022-09-16 02:51] #6 closed, assigned to nobody

[2022-09-16 02:52] brittanyjoiner15 commented on #5
Resolved with: https://github.com/brittanyjoiner15/eui-event/blob/main/docs/how_it_works.md

[2022-09-16 02:52] #5 closed, assigned to nobody

[2022-09-16 02:53] #4 closed, assigned to nobody

[2022-09-16 02:53] #3 closed, assigned to nobody

[2022-09-16 03:01] brittanyjoiner15 opened #16 "As a user, I can create an issue to request a feature request from a template"
Create an issue template so that when someone comes to this repo to file a bug or request a feature, they can choose from an issue template for a feature request.

Please use the checklist from the items in the [contributing guidelines](https://github.com/brittanyjoiner15/eui-event/blob/main/contributing.
md) to create sections of an issue for each bullet point. Ie, the bug template should have ch

[2022-09-16 03:05] brittanyjoiner15 opened #17 "As a user, I have no problems understanding the docs to clone run this locally"
Please review the [readme doc](https://github.com/brittanyjoiner15/eui-event) and suggest any changes to make it more clear and address any troubleshooting or issues you come across that a user might come across.

Also, please check for typos!

[2022-09-16 03:06] brittanyjoiner15 opened #18 "Review contributing guidelines"
Review [Contributing Guidelines](https://github.com/brittanyjoiner15/eui-event/blob/main/contributing.md) and fork a repo. Make suggestions to the docs about troubleshooting any issues you come across, or clarify any language that doesn't make sense. (Feel free to comment on here and ask for clarification on something, then take what you learn and update the markdown file).

[2022-09-16 03:11] brittanyjoiner15 opened #19 "As a user, I can update a Google Sheet with speaker info and it reflect on the speaker page"
This is bit more of an advanced issue, but it would be really cool to hook up Google Sheet API to create a new card for each row in a spreadsheet tab that has speaker details.

Ideally the spreadsheet has columns for:

*  name:
* title:
* team
* location
* short bio
* pronounce
* image link

And the app is updated to create a EuiCard from each row with that data.

As part of this issue, please upd

[2022-09-16 03:15] brittanyjoiner15 opened #20 "As a user, I can update a Google Sheet with talk info"
Similar to https://github.com/brittanyjoiner15/eui-event/issues/19, but for the talks and not the speakers. Instead of cards, each row on the Google Sheet will create a new row in the EuiTable.

The spreadsheet columns should contain:

* session date and time (in standard ISO timestamp format)
* talk title
* talk description
* genre (one string)
* speaker

And the app is updated to create an EuiTa

[2022-09-16 03:17] brittanyjoiner15 opened #21 "Create a checklist for items someone should update if they want to customize this for their event."
Fill out this markdown file with a checklist of sections to go to in the app to update if you use this repo as a template. Ie, speakers, talks, site title, etc.

Bonus points if you can actually link to the line(s) that need to be updated for that section!

[2022-09-16 03:21] brittanyjoiner15 opened #22 "Speaker column on Talks tab accepts multiple speakers"
Make it so that if there is more than one speaker, both can be displayed and it wraps nicely.

Cheat code: I actually already did this for my repo, and unless the table changes a lot before this issue is tackled, you can probably mostly copy and paste what I did here :)

https://github.com/brittanyjoiner15/rainbowstack-summit/blob/master/src/components/panels/TalksPanel.jsx#L49-L77
and also
https:

[2022-09-17 10:10] Vinitvh commented on #22
Hi, can I work on this?

[2022-09-17 13:55] brittanyjoiner15 commented on #22
@Vinitvh Yes! Just assigned you!

[2022-09-17 18:02] Vinitvh commented on #22
@brittanyjoiner15 EuiFlexGroup aligns speakers vertically but there seems to no option to change EuiFlexItem flex direction to row, which is by default column that aligns avatar and name vertically. Do you want me to write a custom class for it? Need some help here.
![eui-col](https://user-images.githubusercontent.com/42197888/190870444-a909ae85-36fe-4d8e-9f22-96a06e5ce829.png)

[2022-09-17 18:38] brittanyjoiner15 commented on #22
@Vinitvh I'm afk but will be back to my computer soon to help triage better- but in the meantime I think I linked to an example of how I did this in my rainbowstack-summit repo. Did you get a chance to look at that?

[2022-09-17 20:36] Vinitvh commented on #22
Yes, In your example too the speakers gets aligned horizontally. For two it may look okay but as we add more it gets messy. I think it looks better if speakers are  vertically aligned.

[2022-09-17 20:46] brittanyjoiner15 commented on #22
@Vinitvh ah okay i see what you're saying now, that's a good point! Could you set the `EuiFlexGroup` to display as a row? Check out the props here: https://elastic.github.io/eui/#/layout/flex#flex-group-is-for-a-single-row-layout

You can pass `EuiFlexGroup`  a `direction="row"` prop

[2022-09-19 02:05] brittanyjoiner15 commented on #22
Resolved with https://github.com/brittanyjoiner15/eui-event-template/pull/23

[2022-09-19 02:05] #22 closed, assigned to Vinitvh

[2022-09-19 16:58] kjaymiller opened #24 "[HELP] Add Code of Conduct to Repo"
Adding a Code of Conduct to the repo would help contributors know that a standard of conduct is set and that they should feel more welcome to contribute.

[2022-09-19 17:00] kjaymiller opened #25 "Add LICENSE.md"
While not required to contribute, it would be good to know what bounds this project will be used and if it can/can't be used in other projects.

[2022-09-20 13:05] shahx95 commented on #21
Hi, @brittanyjoiner15. I'd like to take this up.

[2022-09-20 14:21] brittanyjoiner15 commented on #21
@shahx95 awesome! assigning to you now!

[2022-09-21 16:42] PrathamGwari commented on #20
Hi @brittanyjoiner15 , the issue looks interesting to work on. Can you please assign this issue to me.

I want this to be part of my contribution to hacktoberfest 2022, so can I generate a pull request in October?

[2022-09-21 16:42] PrathamGwari commented on #19
Hi @brittanyjoiner15 , the issue looks interesting to work on. Can you please assign this issue to me.

I want this to be part of my contribution to hacktoberfest 2022, so can I generate a pull request in October?

[2022-09-21 16:45] brittanyjoiner15 commented on #19
@PrathamGwari yes! that is fine, I know this is a bit of a bigger issue anyways and might take a bit to get going on anyways! Would love your help with this! Will go ahead and assign to you. If you can just post every couple days in here and let me know you're still interested in it/working on it, that would be great!

[2022-09-21 16:46] brittanyjoiner15 commented on #20
@PrathamGwari same note as the other issue - this all sounds good, thanks for your help! Please just comment in here every couple or days or so, so that i know you're still working/interested in it!

[2022-09-21 16:48] PrathamGwari commented on #20
Thanks a lot @brittanyjoiner15

[2022-09-21 16:50] brittanyjoiner15 commented on #20
thank YOU!

[2022-09-21 16:51] PrathamGwari commented on #19
Thanks @brittanyjoiner15 😄

[2022-09-22 08:29] divyanshraj0408 commented on #2
Hey! I would like to contribute to this issue during HacktoberFest.

[2022-09-22 08:32] brittanyjoiner15 commented on #2
@divyanshraj0408 sounds great! If you can just comment on here every couple of days to let me know any progress/updates/that you're interested, that would be great! Assigning you now.

[2022-09-22 08:33] brittanyjoiner15 commented on #24
@kjaymiller do you have any particularly good examples you've seen of repos that do this? never made one before so want to look around! I can search if nothing comes to mind for you but didn't know if you had any that you prefer!

[2022-09-22 08:35] brittanyjoiner15 commented on #25
good call @kjaymiller ! i'll add this in! I think the MIT license is probably fine. I'll update it at the bottom of the readme!

[2022-09-22 08:40] #25 closed, assigned to nobody

[2022-09-22 13:09] kjaymiller commented on #24
Most of my current repos have one. I also have a [template tool for VSCode](https://marketplace.visualstudio.com/items?itemName=kjaymiller.vscode-add-code-of-conduct) that let's you choose from popular templates. You can save your code of conduct at the root or in `.github` as `CODE_OF_CONDUCT.md`

[2022-09-22 13:12] brittanyjoiner15 commented on #24
@kjaymiller this extension is awesome!!

[2022-09-22 13:16] #24 closed, assigned to nobody

[2022-09-24 00:12] diegoherrer4 commented on #18
I'd love to work on this if that's okay

[2022-09-24 04:18] divyanshraj0408 commented on #2
Do we want separate templates for bugs and feature request or in the same file?

[2022-09-24 07:20] brittanyjoiner15 commented on #18
Yes @diegoherrer4 go for it!

[2022-09-24 07:20] brittanyjoiner15 commented on #18
Yes @diegoherrer4 go for it!

[2022-09-24 07:22] brittanyjoiner15 commented on #2
@divyanshraj0408 I think separate issue types but what do you think?

[2022-09-24 07:22] brittanyjoiner15 commented on #2
@divyanshraj0408 I think separate issue types but what do you think?

[2022-09-24 08:38] divyanshraj0408 commented on #2
Yes, I was thinking the same as it will make the process of reporting issue much easier.
Will make the PR as soon as October starts.

[2022-09-24 11:04] brittanyjoiner15 commented on #2
Sounds good!

[2022-09-24 21:05] krupalitrivedi commented on #17
Hello! I would love to grab this for hacktober fest!

[2022-09-24 21:17] brittanyjoiner15 commented on #17
Great!! I'll assign it to you!

[2022-09-26 09:29] #18 closed, assigned to diegoherrer4

[2022-09-26 09:29] brittanyjoiner15 commented on #20
@PrathamGwari just want to confirm you're still interested in this correct?

[2022-09-26 09:47] PrathamGwari commented on #20
Yes I am will start work soon

[2022-09-26 10:58] brittanyjoiner15 commented on #20
@PrathamGwari Sounds good! Thanks for the quick response!

[2022-09-26 16:53] iFrogHop2Worlds commented on #13
Could you assign me this?

[2022-09-26 17:18] brittanyjoiner15 commented on #13
@iFrogHop2Worlds yes! assigning now!

[2022-09-26 17:52] ranaDherya commented on #12
hey, @brittanyjoiner15 assign this to me.

[2022-09-26 17:54] brittanyjoiner15 commented on #12
@ranaDherya you got it!

[2022-09-26 17:55] brittanyjoiner15 commented on #2
@divyanshraj0408 want me to add you to the [issue for the feature request template](https://github.com/brittanyjoiner15/eui-event-template/issues/16) as well? Not sure if you were planning to make both templates or just the bug one.

[2022-09-26 18:00] brittanyjoiner15 opened #29 "Change title in header and hero image on Event Details panel"
Change the title and hero image to be something more generic. Feel free to have a little fun with it and think of something that relates more to our "fun" speakers :)

This will be more a creative task! Please create an image and add it to the images folder, and then [replace the current hero image here](https://github.com/brittanyjoiner15/eui-event-template/blob/88b197cafa0ab3454e38aa31e10e043496

[2022-09-26 18:04] brittanyjoiner15 opened #30 "Change the text in the footer"
Instead of referencing Elastic and rainbowstack ERG, change this text to be something else. Have a little fun with it and make it something fictional that goes along with our theme of our speakers
![](https://user-images.githubusercontent.com/16166290/192348302-eb15367f-2c7c-4541-aa32-3bedc492983c.png)

[2022-09-26 18:31] Arnav-Negi commented on #30
Hi! I'm participating in Hacktoberfest 2022 and would like to contribute to this issue. Can you assign it to me?

[2022-09-26 19:00] divyanshraj0408 commented on #2
Oh I actually didn't notice. Yes it would be awesome if I will be assigned for the feature request template also.

[2022-09-26 20:25] iFrogHop2Worlds commented on #13
Awesome thanks. I have finished the task here https://github.com/iFrogHop2Worlds/eui-event-template
Ill make the pr on Oct 1st  if you don't mind :)

[2022-09-26 20:30] brittanyjoiner15 commented on #30
@Arnav-Negi yes!

[2022-09-26 20:36] brittanyjoiner15 commented on #13
@iFrogHop2Worlds yep that's fine!

[2022-09-26 20:54] brittanyjoiner15 commented on #16
@divyanshraj0408  adding you to this one!

[2022-09-26 20:55] brittanyjoiner15 commented on #2
Oddly it won't let me assign you to it haha, i think it needs you to comment on it, so if you can comment over there, then i can assign it!

[2022-09-26 21:08] brittanyjoiner15 opened #31 "Click on logo to go to the Event Details panel"
When clicking on the logo in the top left, a user is returned to the Event Details panel.

![](https://user-images.githubusercontent.com/16166290/192379001-7ddbe709-64f2-406f-899a-f9b248f01752.png)

When clicking on that icon, you go to this tab:
![](https://user-images.githubusercontent.com/16166290/192380856-18a51463-8cf4-46c5-b3e8-ab4aa393c7d8.png)

[2022-09-26 21:21] brittanyjoiner15 opened #32 "Create a tab for watching recordings of talks"
Create a page that people can embed youtube videos on to show talks after the conference.

Ideally it would be a page with two columns with embedded youtube videos.

[2022-09-26 21:24] brittanyjoiner15 opened #33 "Create a sponsor section"
Add a section above the footer that accepts multiple logos (you can add fake ones in there for the time being) that would be able to hold the sponsors of the event. Something like this:
![](https://user-images.githubusercontent.com/16166290/192383118-44d60e9b-dfbb-4029-99ab-0e8ee369922e.png)

This should be displayed on every page and accept 5 - 10 logos.

[2022-09-26 21:24] brittanyjoiner15 opened #34 "Add an FAQ tab"
Create a tab with some lorem ipsum text with FAQs about the conference/event.

[2022-09-26 21:28] brittanyjoiner15 opened #35 "Add social links to footer"
Update the footer with icons for Facebook, Twitter, LinkedIn, and Instagram and make them linkable (you can just link to "#" for now), so that if someone wants to use the template, they can include links to their events social profiles

[2022-09-26 21:30] brittanyjoiner15 opened #36 "Create a registration form that sends responses to a Google Sheet"
Create a registration form that collects name and email, and send those responses to a Google Sheet.

As part of this, you'll need to update the documentation to explain how someone using this repo as a template can then hook up their own GoogleApi and Google Sheet to this.

[2022-09-26 21:41] brittanyjoiner15 opened #37 "When hovering on a speaker card it enlarges and makes a shadow"
When hovering on a card for a speaker, the card is enlarged and there is a shadow on the element.

![](https://user-images.githubusercontent.com/16166290/192384526-50363674-9397-457f-9192-aed9d27a68c9.png)

Alternatively, you could pick something from here: https://blog.avada.io/css/card-hover-effects

Basically just need some kind of animation that would make the card become more obvious when peo

[2022-09-26 21:49] laxmanbalaraman commented on #35
Hey @brittanyjoiner15! I think I can do this one. Can you assign this to me?

[2022-09-26 21:49] brittanyjoiner15 commented on #35
@laxmanbalaraman yep will do!

[2022-09-26 21:57] brandonmcconnell commented on #37
@brittanyjoiner15 I'd like to take this one!

My idea is to scale it up to make the card larger, offset the rotation by something small like 15deg, and add a shadow or glow to the card. 🙂

Does this page support light and dark mode?

[2022-09-26 22:03] brandonmcconnell commented on #36
@brittanyjoiner15 Does your org already have an API active and ready to use with the Sheets API for this task?

[2022-09-26 22:04] brandonmcconnell commented on #34
@brittanyjoiner15 I'd like this one!

[2022-09-26 22:07] brandonmcconnell commented on #32
@brittanyjoiner15 Can I take this one? 😃

[2022-09-26 22:09] brandonmcconnell commented on #33
@brittanyjoiner15 I'd love to take this one on!

[2022-09-27 00:47] benjakugler96 commented on #31
Hello. Raising a PR for this. Trying to find how to add cursor pointer to header logo but it seems that passing `iconProps={{ style: { cursor: "pointer" } }}` is not working. I can raise another pr for that once I find the solution

[2022-09-27 02:24] divyanshraj0408 commented on #16
@brittanyjoiner15 Thanks for adding me.

[2022-09-27 02:46] binnyle commented on #37
Hi @brittanyjoiner15 , I love your website, I was thinking we could try something like this

https://codepen.io/ovdojoey/pen/BomKyZ

Maybe with a lighter variation since the site primary color is dark, it will create an amazing contrast and made the card stand out.

Thanks!

[2022-09-27 03:24] binnyle commented on #31
Hi @brittanyjoiner15, I think we can change tab by passing down selectedTab and change it to the first tab onClick, I would love to work on this.

Thanks!

[2022-09-27 03:51] iFrogHop2Worlds commented on #36
assign me please @brittanyjoiner15

[2022-09-27 08:21] abitsalihu commented on #37
Hey, I would happily help with this issue and implement the design you guys are looking for. :)

[2022-09-27 09:51] sambhavgupta0705 commented on #33
Hey,can I take this issue

[2022-09-27 09:54] brittanyjoiner15 commented on #34
@brandonmcconnell will add you to this one!!

[2022-09-27 09:55] brittanyjoiner15 commented on #32
@brandonmcconnell i appreciate your enthusiasm but i prefer folks take one issue at a time. Once you complete you the issue, you're welcome to pick another one! So I'll hold off on assigning this for now in case someone else wants to take it while you're working on the other one, but once your other is merged, you're welcome to comment in here and request again!

[2022-09-27 09:57] brittanyjoiner15 commented on #36
@brandonmcconnell great questions! No we don't, so this is a bit of a big one. Although @PrathamGwari is working on this for speaker and talk tabs, so it might be worth coordinating with him for whoever grabs this.

[2022-09-27 09:59] brittanyjoiner15 commented on #36
@iFrogHop2Worlds i see you're assigned to [this issue](https://github.com/brittanyjoiner15/eui-event-template/issues/13), and we typically prefer people only being assigned one issue at a time unless they're extremely related issues. Once you finish your other issues and that is merged, you're welcome to come back and request this one!

[2022-09-27 10:03] brittanyjoiner15 commented on #31
@benjakugler96 hey there, appreciate the enthusiasm, but per the guidelines, you need to pick an issue and be assigned it before creating a pull request. I will allow it this time though and I'll update the guidelines to make that more clear.

[2022-09-27 10:03] brittanyjoiner15 commented on #31
@BinniesLite sorry Benja claimed this one, but feel free to check out some of the other issues, or if you have some other ideas for how to improve the app, create your own issue and I'll review it and can assign to you!

[2022-09-27 10:09] brittanyjoiner15 commented on #2
@divyanshraj0408 perfect! thanks!

[2022-09-27 10:14] brittanyjoiner15 commented on #37
These are all great ideas! @brandonmcconnell i've assigned you to the FAQ tab issue, and i appreciate the enthusiasm but we only assign folks to one issue at a time unless there's an exception where they're very closely connected issues. So I'll have to ask that you finish that other one and once your PR is merged, you'll be welcome to pick up another issue!

In the meantime @BinniesLite you haven

[2022-09-27 10:17] brittanyjoiner15 commented on #33
@brandonmcconnell appreciate the enthusiasm but we can just assign one issue at a time! One you finish the other one, feel free to request this one if it's available or grab another one! I'll be creating more issues, and if you have any ideas for things you'd like to improve, you're welcome to create an issue as well!

[2022-09-27 10:17] brittanyjoiner15 commented on #33
@sambhavgupta0705 great! assigning you now. Let me know if you have any questions or need me to provide sponsor logos

[2022-09-27 10:39] abitsalihu commented on #37
@brittanyjoiner15 That's fine. @BinniesLite If you need any help, feel free to msg me. :)

[2022-09-27 12:18] benjakugler96 commented on #1
hello @brittanyjoiner15. Could I take this one for hacktoberfest?

[2022-09-27 12:28] brittanyjoiner15 commented on #1
@benjakugler96 so I am a bit conflicted on this for hacktoberfest because I'm worried it's going to be a pain for any pull requests in flight. How long do you think it would take you? If just a couple days then maybe it wouldn't be too terrible. But what do you think? I imagine this is quite a bit of work but maybe it's not that much and could be done quickly and not mess up too many PRs

[2022-09-27 12:33] benjakugler96 commented on #1
@brittanyjoiner15 if it sounds good to you, we can try to get a pr with basic ts in the next few days and we can merge it on October 1st.

[2022-09-27 13:32] brittanyjoiner15 commented on #1
@benjakugler96 yeah that sounds good to me!! If we can do that and merge on Oct 1st that would be great!

[2022-09-27 13:38] brittanyjoiner15 commented on #1
@benjakugler96 actually im sorry - i hate to be so back and forth on this. I am actually leaning towards not making this typescript. My goal has all along been to make this repo very beginner friendly and i worry for folks new to coding making it typescript at the point might introduce new complexity. So I actually want to not do this.

But i have an idea. What do you think about making a typescri

[2022-09-27 13:40] brittanyjoiner15 commented on #37
@abitsalihu thanks for understanding! Feel free to grab another issue if you'd like or if you have some ideas, you can propose an issue and I'll review it and assign it to you!

[2022-09-27 14:01] brandonmcconnell commented on #34
@brittanyjoiner15 Thanks! Do you know offhand if any of your components support a type of Toggle/Accordion functionality I could use for the FAQ functionality, or if I should set that up anew?

[2022-09-27 14:07] brittanyjoiner15 commented on #34
@brandonmcconnell i know that Eui has a toggle (and accordion i believe), as far as components I've currently got I don't think i have anything configured for one. How are you imagining needing one? Like FAQ would toggle on or off?

[2022-09-27 14:47] binnyle commented on #37
Thanks, I'll get this done in the Hacktoberfest @brittanyjoiner15 and absolutely @abitsalihu, I'll message you if I run into any trouble.

[2022-09-27 14:49] brittanyjoiner15 commented on #37
@BinniesLite awesome!! if you can just keep me posted on progress every couple of days that would be great! Totally fine to wait until Oct 1st, but don't want this to sit stale for too long if we can help it!

[2022-09-27 14:53] binnyle commented on #37
Definitely, I'll keep you update on the progress @brittanyjoiner15

[2022-09-27 14:55] brittanyjoiner15 commented on #37
@BinniesLite thank you so much!

[2022-09-27 15:11] brittanyjoiner15 opened #39 "Create a file listing contributors"
I'd love to recognize contributors who have PRs merged in this Repo!

Create a new file called `contributors.md` and make a nice page that shows the usernames of folks who have merged PRs. (You can [find all those here](https://github.com/brittanyjoiner15/eui-event-template/pulls?q=is%3Apr+is%3Aclosed).)

Please look at some examples of other repos that do this and help come up with a nice way to

[2022-09-27 15:18] abitsalihu opened #40 "[bug] Website has a scroll bar on the X axis"
While checking the website I noticed that the website - `body` overflows on the `x` axis, and there is no need to overflow since there isn't extra content on the right side and it makes the `UI` worse.

An easy solution would be adding a `overflow-x: hidden;` on the body tag, or you can find the element which is expanding the website and fix that!

If you want the problem fixed through `css` I'm h

[2022-09-27 15:24] camillet16 commented on #29
Hi there! I'd like to be assigned to this :) but would also like to know more about what you mean by 'generic'. Would you like something Parks and Recreation related? XD

[2022-09-27 15:26] brittanyjoiner15 commented on #40
@abitsalihu good catch! and yes fixing through CSS is just fine! I can assign this to you!

Let me know if you need any help with react. But basically build the CSS class and you can apply it to the component with the `className="yourClass"` prop

[2022-09-27 15:28] abitsalihu commented on #40
@brittanyjoiner15 thanks, I'll let you know If i have any problems. :)

[2022-09-27 15:30] brittanyjoiner15 commented on #29
@camillet16 yes happy to assign to you! And yes i basically just mean something that's not an actual event (rainbow stack summit is the event i planned that this template was based off of!). If can you think of something that would combine the Office and Parks and Rec that would be really fun _(maybe something like "Best TV Characters Conference"... or something shorter lol)_, but if not feel free

[2022-09-27 15:30] brittanyjoiner15 commented on #29
@camillet16 also let me know if you need access to something like Canva. I believe I have a spot on my account and i can temporarily assign it to you if you need something to help design an hero image.

[2022-09-27 15:33] brittanyjoiner15 commented on #40
@abitsalihu great! thanks for taking this one!

[2022-09-27 15:36] camillet16 commented on #29
@brittanyjoiner15 Hahahaha! got it,  thanks for the info. I'm all sorted on design resources but thank you kindly for the canva offer. 😄 Happy hacktober!

[2022-09-27 15:37] brittanyjoiner15 commented on #29
@camillet16 awesome!! excited to see what you come up with, and thanks again for the help! Just let me know if you have any questions!

[2022-09-27 15:44] ArshErgon commented on #39
assign it to me.
I will do some research on this about how to style them nicely.
okay, so you want a script which will update the `contributor.md` file whenever someone do a PR, but what if someone's PR is not related to the issue? will it be still count? it will be done soon.

[2022-09-27 15:46] brittanyjoiner15 commented on #39
@ArshErgon great thank you! assigning you now.

And yes the script would be great - i think it doesn't necessarily have to be tied to the issue. I was not exactly imagining a history/changelog type of thing, although that might not be a bad idea if you recommend that! Just basically something that provides some recognition of all these folks who do create PRs. It should generally be tied to an iss

[2022-09-27 15:55] abitsalihu commented on #40
@brittanyjoiner15 I think you have to assign this issue to someone else as I'm having problems with running the scripts in the terminal, and I think it's a problem with my laptop and not the repo (I looked for many solutions but so far none are working).

Below is the problem I'm having with the script:

<img width="1440" alt="Screen Shot 2022-09-27 at 17 52 11" src="https://user-images.githubuser

[2022-09-27 15:57] ArshErgon commented on #39
Touch wood, neither I, there's a data structure called a 'set' I'd use it for checking the duplicates(PS: sets hates duplicates, they automatically removes them),  but I have to put names list in two, one in contri.md and other one in my script for checking. Umm, it would be amazing to solve this.

[2022-09-27 16:02] brittanyjoiner15 commented on #40
@abitsalihu hmm - maybe i have the wrong command in the docs! try running `yarn` and then `yarn start` and see if it runs

[2022-09-27 16:03] brittanyjoiner15 commented on #39
@ArshErgon yeah!! if you make a solution for this you should totally make it a package that others can add to their projects - i imagine a lot of open source maintainers would find it helpful! I wonder if something exists already? I haven't done much research admittedly

[2022-09-27 16:08] abitsalihu commented on #40
@brittanyjoiner15 No the commands are fine, it says that the command is not found in the `/bin/sh:` but as you can see on the right side inside the VS the script is there. I read that sometimes the module doesn't install fully or something and you have to `delete` it and reinstall, I did that like 5 times but no luck. If you find a solution that might help me feel free to send it to me, but maybe

[2022-09-27 16:12] brittanyjoiner15 commented on #40
@abitsalihu haha no worries i understand - im the same way if i can't get a repo running 😂 Sometimes I'll try deleting the repo and everything and trying it all from scratch and it works 🤷 but i don't have any other ideas aside from that. Weird since like you said it's right there.

If you think you know the code changes needed here, you're welcome to edit the files and make a PR and i can run it

[2022-09-27 16:18] ArshErgon commented on #39
ummm, something similar, not replica not similar of what we want https://github.com/mntnr/name-your-contributors
I never made packages, lets see where this PR will take me.

[2022-09-27 16:23] abitsalihu commented on #40
@brittanyjoiner15 I tried trying from scratch as well but no luck, maybe better to assign someone else to this.

I will definitely check into this later and see why it was not working tho, and after I figure it out I'll check for another issue. :)

[2022-09-27 16:26] brittanyjoiner15 commented on #40
@abitsalihu sounds good!! thanks and just create another issue if you wanna get to the bottom of this and I'll rope in some other devs to help us figure out what's going on : )

[2022-09-27 16:29] brittanyjoiner15 commented on #39
@ArshErgon ah interesting! yeah that looks like in the same area of what I'm hoping for, but maybe a bit more than i want.
And yeah, have fun with it! Feel free to be creative and have fun with it! You can put as much or as little as you want into it. If you want to make a package, that's awesome, if you just want to add a file and list the contributors we've had so far and help update the PR temp

[2022-09-27 21:10] ranaDherya commented on #12
Hi @brittanyjoiner15 ,
I have successfully added sort by date functionality to talks-table. But I want to know how to add multiple sort functions to EuiBasicTable component
`<EuiBasicTable items={this.state.sortedTalks} columns={this.columns} sorting={this.sorting} onChange={this.sortByDateHandler} hasActions />`

This is my sorting object
` sorting = {
    sort: {
       field: "sessionDate",

[2022-09-28 05:16] AyushK-101 commented on #40
I would like to work on this issue

[2022-09-28 06:07] SahilAnower commented on #36
@brittanyjoiner15 Can I work on this? Seems Interesting

[2022-09-28 07:24] ashishpetwal commented on #40
Hey, @brittanyjoiner15 I have worked on this issue and kind of resolved it!

I would love to take this issue as part of HacktoberFest 2022. Kindly, assign it to me!

[2022-09-28 11:29] brandonmcconnell commented on #34
@brittanyjoiner15 I was thinking the questions themselves could toggle their answers.

Functional inspiration: https://www.awwwards.com/faqs/

[2022-09-28 12:54] benjakugler96 commented on #1
@brittanyjoiner15 What do you think if we hold off until end of October to re-do it in typescript? Many things may change before that and if we have two branches it will be more difficult to maintain (mainly this month which I guess you will get lot of prs 😅)

[2022-09-28 13:37] brittanyjoiner15 commented on #1
@benjakugler96 i completely agree - let's rediscuss this at the end of October, and if you're still interested then, i'd totally love your help, and if not no worries! Thanks for understanding

[2022-09-28 13:38] brittanyjoiner15 commented on #34
@brandonmcconnell oooh that's really cool, i like that idea a lot actually. Eui definitely has this functionality! https://elastic.github.io/eui/#/layout/accordion

[2022-09-28 13:53] brittanyjoiner15 commented on #40
@ashishpetwal im so sorry, i saw @AyushK-101 's comment before yours so I'm going to assign to them, but you're welcome to pair with them on it or if they're unable to take it then you can have it!

[2022-09-28 13:54] brittanyjoiner15 commented on #40
@AyushK-101 just assigned to you!

[2022-09-28 13:55] brittanyjoiner15 commented on #36
@SahilAnower yes! assigning you now. You might want to coordinate with @PrathamGwari on https://github.com/brittanyjoiner15/eui-event-template/issues/19 and see if you can both maybe use the same Google Sheets API and perhaps do all of this in the same google sheet?

[2022-09-28 14:08] ashishpetwal commented on #40
@brittanyjoiner15 that's completely fine bro! Will help if needed

[2022-09-28 14:16] SahilAnower commented on #19
Hi @PrathamGwari could you please elaborate the things you have added until now, and what are you using so that I can also use the same Google Sheet API?

[2022-09-28 14:24] SahilAnower commented on #36
Thanks a lot @brittanyjoiner15

[2022-09-28 14:25] PrathamGwari commented on #19
@SahilAnower
I looked up for some solutions and founds a website called "sheets.best" which is an easy solution for this sort of problems. But the problem is that the service is paid.

So I have decided to use google sheets api to read data from a file. Currently I am testing if the solution will work or not.

[2022-09-28 14:33] SahilAnower commented on #36
![Screenshot 2022-09-28 at 19-59-07 Eui and React Event Site Template](https://user-images.githubusercontent.com/49086583/192806589-5df4b5b4-f8aa-4be2-93f4-67827caf8db9.png)
![Test Sheet - Google Sheets — Mozilla Firefox 9_28_2022 8_00_15 PM](https://user-images.githubusercontent.com/49086583/192806837-3bec43fd-03b0-4f5a-a871-f95068ad591a.png)
I have currently done this, using sheetdb api rather t

[2022-09-28 14:36] SahilAnower commented on #19
@PrathamGwari
Yeah same here. I also got one but paid, only 500 requests per month. Google sheets api is good and fine. But when we are sending post data through their, it is showing CORS error. And i am also testing out let's see.

[2022-09-28 14:37] brandonmcconnell commented on #36
@SahilAnower Awesome resourcing! I'm eager to see your implementation once it's merged in 🙌🏼

[2022-09-28 14:49] brittanyjoiner15 commented on #36
@SahilAnower oh nice! that is so fast and exactly what im looking for!

[2022-09-28 14:49] brittanyjoiner15 commented on #19
@PrathamGwari and @SahilAnower thank you both for working on this! loving the progress!

[2022-09-28 15:09] brittanyjoiner15 opened #42 "Create a md file to track research"
Sometimes we'll have tasks where want to research certain things, like new technology we might want to add in the app.

Create a file that we can organize any notes from these research separately from actually taking actions on the research.

Spend a few minutes doing a little research to see if anyone else is doing something like this and maybe get some ideas for how to structure it, but if there

[2022-09-28 15:12] brittanyjoiner15 opened #43 "Create docs for adding mixpanel for tracking events on the app"
Create a page under docs explaining how to set up site reporting with MixPanel. You can see some examples of how I did this with [Rainbow Stack summit](https://github.com/brittanyjoiner15/rainbowstack-summit).

Note - we don't want to actually _add_ Mixpanel to this template, but want to layout docs for exactly how someone might do that if they want to track things for their events. For instance,

[2022-09-28 15:15] brittanyjoiner15 commented on #12
@ranaDherya hey there! Great progress with this, and that' s really good question! So i believe the sorting object can handle an array of multiple fields, have you tried that? So something like

[code]

etc

I haven't actually tried that so im not sure if it works - but have you given that a try? If you have and that doesn't work, let me know and I'll dig into it a bit more

[2022-09-28 15:57] brittanyjoiner15 opened #44 "Create light mode option"
Right now the app is using Eui dark mode. Create a toggle to allow a user to enable light mode.

You can learn more about how this works with Eui in the docs: https://elastic.github.io/eui/#/theming/theme-provider

Please check the various tabs and components while implementing as this may require some additional configuration on those.

[2022-09-28 15:59] Mannuel25 commented on #42
Hello @brittanyjoiner15 , I'd love to take this up for hacktoberfest. Could you please assign it to me once the event commences?

[2022-09-28 16:05] brittanyjoiner15 commented on #42
@Mannuel25 yes! ill assign it now. if you want to get the PR ready i can wait until Oct 1st to merge it!

[2022-09-28 16:07] Mannuel25 commented on #42
Okay, that's cool.Thanks!

[2022-09-28 17:18] Mannuel25 opened #46 "Add Issue Templates"
I'd suggest we have issues templates.
- A custom issue template
- A feature template (this comes in handy since we now have a research notes that tracks technologies/features to be added)

If it's a good suggestion, I'd like to add them.

[2022-09-28 17:34] NandanVyas commented on #44
Hello ma'am, I want to contribute to it, can you assign me this issue and please provide a suitable location for the toggle button as well ?

[2022-09-28 17:37] brittanyjoiner15 commented on #44
@NandanVyas great! i'll assign you! I imagine placing it somewhere here, maybe below the buttons? But im open to other locations if you have a better idea!

<img width="1356" alt="image" src="https://user-images.githubusercontent.com/16166290/192851044-b8ac7ae7-4d1e-4548-a757-947408ca68cf.png">

[2022-09-28 17:58] Vaani-pathariya commented on #32
Hello @brittanyjoiner15 ! I am new to open source and know the basic front end(Html ,CSS,Javascript) along with a little bit of react .Can I contribute to this one ?

[2022-09-28 18:01] brittanyjoiner15 commented on #32
@Vaani-pathariya yeah feel free to! It doesn't have to be anything fancy, and Eui components are very easy to work with, so i think you can definitely handle it! If you need any help just reach out.

What I would recommend is [creating another tab ](https://github.com/brittanyjoiner15/eui-event-template/blob/8cefe4c73b1dea7f5fa33c6bd15071cb1bbae463/src/components/MainPage.jsx#L36) for `recordings`

[2022-09-28 18:25] brandonmcconnell commented on #34
@brittanyjoiner15 Awesome, thanks! I'll wait till October hits and then get started on this 🥳

[2022-09-28 18:29] brittanyjoiner15 commented on #34
@brandonmcconnell feel free to start now and i can just wait til oct 1st to merge if you'd like!

[2022-09-28 19:07] audreymengue commented on #43
Hi @brittanyjoiner15 , I would love to work on it if you would have me.

[2022-09-28 19:08] brittanyjoiner15 commented on #43
@audreymengue sure! assigning you now!

[2022-09-28 19:14] brandonmcconnell commented on #34
@brittanyjoiner15 Oh great, thanks!

[2022-09-28 20:05] audreymengue commented on #43
Hi @brittanyjoiner15 , if I understand very well, this task is about how to add Mixpanel panel on this template if they want to? Also, the Mixpanel we are referring to is the web analytics tools right?

[2022-09-28 20:08] brittanyjoiner15 commented on #43
@audreymengue yes that's correct! and yep this tool. https://mixpanel.com/

[2022-09-28 20:13] audreymengue commented on #43
Alright. Thank you. On it.

[2022-09-29 04:53] akshitsangwan commented on #37
Hey @brittanyjoiner15, just wanted to thank you for sharing this super amazing website with us and the ideas were too great! I will try to implement and add some of em in my portfolio as well:)

[2022-09-29 04:57] akshitsangwan commented on #35
Hey @brittanyjoiner15, I am also interested to show my version of the footer design. Can you assign me this task?

[2022-09-29 08:49] binnyle commented on #37
Hi @brittanyjoiner15, would you prefer a lighter tone like this or keep it dark?

![image](https://user-images.githubusercontent.com/89041460/192985947-206fe447-a7bd-472b-80fe-531ad504e32b.png)

[2022-09-29 09:58] ranaDherya commented on #12
Thanks @brittanyjoiner15 , make our sorting object handle an array is working.

[2022-09-29 10:54] ranaDherya commented on #12
Found an issue while I was implementing sort by time. When we change the time to local and to EDT. It is only changing the time not the date.
 for eg:- `{
    sessionDate: "Sept 13th",
    sessionTime: "2022-09-13T23:40:00.000Z",
    title: "Star Wars vs Star Trek",
    description:
      "Learn why Star Wars is more super than Star Trek because of beets, bears, and battlestar galactica.",
    gen

[2022-09-29 11:56] Anuran12 commented on #44
Hi @brittanyjoiner15 can you assign it to me ?

[2022-09-29 12:59] brittanyjoiner15 commented on #44
@Anuran12 sorry this has already been assigned, but you're welcome to connect with @NandanVyas if you'd like to pair with them on it!

[2022-09-29 13:00] brittanyjoiner15 commented on #12
ah @ranaDherya yeah that's a good point. feel free to leave off sorting by time in this one, and i can create an issue to update the time change function to update the entire date and we'll add in sorting by time after that!

[2022-09-29 13:02] brittanyjoiner15 commented on #37
@akshitsangwan thanks for saying that, definitely please do!!

[2022-09-29 13:02] brittanyjoiner15 commented on #37
@BinniesLite i like the lighter tone!! gives good contrast!

[2022-09-29 13:06] brittanyjoiner15 commented on #35
@akshitsangwan this has already been assigned to @laxmanbalaraman but if you want to raise another issue with your ideas for footer improvements, feel free to create an issue and I'll review it and can assign it to you!

[2022-09-29 13:25] Nishant891 commented on #30
Hey! I would like to contribute on this issue.

[2022-09-29 14:00] brittanyjoiner15 opened #47 "Update the meta data to have a new image and title"
Update meta data title, image, and description to have a new image and title that relates to updates on the site "identity theft conference". (Will need for [this issue](https://github.com/brittanyjoiner15/eui-event-template/issues/29) to be completed first but should be finished on Oct 1st.)

You'll find the meta data set in this file: https://github.com/brittanyjoiner15/eui-event-template/blob/m

[2022-09-29 14:11] skyspace88 commented on #47
yay! :D

[2022-09-29 14:14] brittanyjoiner15 commented on #47
@dreymotoh woohoo! just assigned you! lets pair on this next week and go through it!

[2022-09-29 15:15] brittanyjoiner15 commented on #30
@Nishant891 appreciate the interest, but this has already been assigned! You're welcome to reach out to the assignee and pair with them, or take a look at our other open issues that have not been assigned! If you don't see any, i'm adding new ones as I think of them, so keep checking back!

[2022-09-29 15:17] brittanyjoiner15 commented on #46
@Mannuel25 thanks for suggesting this but we actually have some issues open for working on this (#16 and #2) and someone assigned to tackle it! Good suggestion though!

[2022-09-29 15:17] #46 closed, assigned to nobody

[2022-09-29 15:51] PrathamGwari commented on #19
https://user-images.githubusercontent.com/75363815/193078044-d71020df-7e0a-48b6-8894-9613626c4a75.mp4
Here is a working demo. I have created a simple react app which makes an api call and fetches the data in excel sheet.

I have used google's app script to create a web application which contains a function to return sheet data in JSON form.

The idea is that user will be provided with code contain

[2022-09-29 15:59] akshitsangwan commented on #35
Okay @brittanyjoiner15, will do it! Thanks for this:)

[2022-09-29 16:05] Nishant891 commented on #30
Okay I understand.

[2022-09-29 16:19] chiragkhatri19 commented on #47
Can I work on this with you ? I am pretty much a newbie in open source, So really wanna learn something from experienced contributors

[2022-09-29 17:57] SahilAnower commented on #19
@PrathamGwari Great! Can you please provide me the appscript url with the code?

[2022-09-30 00:41] brittanyjoiner15 commented on #19
@PrathamGwari i think that approach makes sense to me! As long as we can just include some documentation that explains those steps, i think that makes sense and seems like a good way to go about it!

[2022-09-30 00:43] brittanyjoiner15 commented on #47
@chiragkhatri19 yeah! i'm actually going to pair with @dreymotoh on this and it's a great one to demo how open source contribution can work!

Can you join this slack community? https://join.slack.com/t/build-with-britt/shared_invite/zt-1ew1pk4w7-sVTSOA4QSA1B6kOpMUBE_A

It's a space I've got with me and some other fellow builders and I'm probably going to do some live pairing in there! You're welco

[2022-09-30 00:51] chiragkhatri19 commented on #47
I joined the community, And thanks for helping me contribute, I really want to contribute something valuable to open source in this October.

[2022-09-30 02:09] brittanyjoiner15 commented on #47
@chiragkhatri19 awesome! i don't see you in there yet, so you might need to confirm something in your email. ill be posting the #general channel when I'm going to be doing some builds, so feel free to watch in there and join whenever!

[2022-09-30 03:01] PrathamGwari commented on #19
@brittanyjoiner15 I will provide a proper documentation with steps to create a simple web app with Google's App Script in just a few clicks along with screenshots.

Let me know if you have any other suggestions. 😊

[2022-09-30 04:41] binnyle commented on #37
Awesome, I'll made a PR in October 1st

[2022-09-30 07:06] chiragkhatri19 commented on #47
For sure @brittanyjoiner15
I'll confirm the email and wait for that notification. Thanks for having me again

[2022-09-30 07:15] laxmanbalaraman commented on #35
Hey @brittanyjoiner15 ! I have added the social icons to the footer. The icons are responsive even in the mobile version. I made the icons colorful so they match the rainbow theme however feel free to change them. Tell me if everything looks fine :).

PS: Also I noticed that the footer text is not aligned to the center in the mobile version (you can see that in the second image). I didn't fix that

[2022-09-30 08:39] ranaDherya commented on #12
ok sure

[2022-09-30 10:18] Vaani-pathariya commented on #32
I created the basic layout for the recordings tab . It currently shows the same data as of the speakers tab since right now i didn't know what all you want within each card. Please guide me with the same and i will do the required
<img width="936" alt="image" src="https://user-images.githubusercontent.com/94799887/193249016-44af80ea-2f98-41bb-a09d-be6be8edbf5e.png">

[2022-09-30 14:07] Mannuel25 commented on #46
Oh, my bad. I thought it didn't exist. Thanks

[2022-09-30 16:35] brittanyjoiner15 commented on #32
@Vaani-pathariya that looks great! Can you populate it with some videos from youtube? Maybe like 6 videos with clips from the office and parks and rec tv shows?

[2022-09-30 16:38] brittanyjoiner15 commented on #35
This looks awesome! We have some other issues to move away from the rainbow theme, but i still like the colorful icons!! Those are perfect! This looks good to go!

And good catch on the center alignment. Would you actually mind to create that issue and then I'll assign it to you and you can fix it in a separate PR?

[2022-09-30 16:42] brittanyjoiner15 commented on #37
@BinniesLite sounds great! I'll be ready to review and merge!

[2022-09-30 16:44] brittanyjoiner15 commented on #19
@PrathamGwari yes that would be great thank you! The test will be if i can run it locally and do it on my own with the docs! I will probably also try to get someone else to try it as well so we can make sure they're as clear as possible!

[2022-10-01 06:22] laxmanbalaraman commented on #35
Sure! I will create a new issue for that.
Thanks!!

[2022-10-01 10:42] ashishpetwal commented on #40
@brittanyjoiner15  and  @AyushK-101 kindly update if the issue is resolved or not !

[2022-10-01 15:57] #42 closed, assigned to Mannuel25

[2022-10-01 16:00] #32 closed, assigned to Vaani-pathariya

[2022-10-01 16:08] #2 closed, assigned to divyanshraj0408

[2022-10-01 16:38] brittanyjoiner15 commented on #17
@krupalitrivedi hey there! have you had a chance to look at this?

[2022-10-01 16:39] brittanyjoiner15 commented on #16
@divyanshraj0408 hey there! have you had a chance to work on this?

[2022-10-01 16:40] brittanyjoiner15 commented on #33
@sambhavgupta0705 hey there! have you had a chance to work on this?

[2022-10-01 16:44] krupalitrivedi commented on #17
Hi! I am sorry I have not looked at it yet, I will try to finish it in a day or two? Does that work :)

[2022-10-01 16:55] brittanyjoiner15 commented on #17
@krupalitrivedi yep no worries that's fine!

[2022-10-01 16:56] #31 closed, assigned to benjakugler96

[2022-10-01 16:57] #29 closed, assigned to camillet16

[2022-10-01 16:57] divyanshraj0408 commented on #16
Yes I am working on it, will make the PR asap.

[2022-10-01 16:58] brittanyjoiner15 commented on #39
@ArshErgon hey there! just wanted to check and see if you're still working on this?

[2022-10-01 16:59] brittanyjoiner15 commented on #36
@brandonmcconnell check out what @PrathamGwari has done in this PR: https://github.com/brittanyjoiner15/eui-event-template/pull/58 . Feel free to utilize something similar, although admittedly will be different as this is meant to go the other way - ie, FROM website TO google sheet. But if we can keep it in the same sheet that would be great, but not necessary

[2022-10-01 17:00] brittanyjoiner15 commented on #34
@brandonmcconnell hey there! have you had a chance to work on this?

[2022-10-01 17:01] brittanyjoiner15 commented on #44
@NandanVyas hey there! have you had a chance to work on this?

[2022-10-01 17:01] #30 closed, assigned to Arnav-Negi

[2022-10-01 17:02] #37 closed, assigned to binnyle

[2022-10-01 17:04] brittanyjoiner15 commented on #40
@AyushK-101 hey there! have you had a chance to work on this?

[2022-10-01 17:05] brandonmcconnell commented on #36
@brittanyjoiner15 Is there more Google-Sheets-related work to be done? Or do you mean for my own personal research?

[2022-10-01 17:06] brandonmcconnell commented on #34
Yup! I started it, and I'll try to get something up and ready by EOD Tuesday :)

[2022-10-01 17:10] brittanyjoiner15 commented on #34
@brandonmcconnell sounds good!

[2022-10-01 17:13] brittanyjoiner15 commented on #36
@brandonmcconnell oh saw your comment about wanting to see his implementation, and also thought you were assigned to this issue but just realized @SahilAnower is assigned to this so sorry!

@SahilAnower please check out what @PrathamGwari has done in this PR: https://github.com/brittanyjoiner15/eui-event-template/pull/58 and feel free to try to utilize something similar, but it's okay if it needs

[2022-10-01 17:13] brittanyjoiner15 commented on #16
@divyanshraj0408 great, thanks!

[2022-10-01 17:15] brittanyjoiner15 commented on #17
@krupalitrivedi yes that's fine! Let me know if you need any help with it!

[2022-10-01 17:36] Anuran12 commented on #44
@brittanyjoiner15 hey.... if he would not response.... then could you please assign it to me ?

[2022-10-01 18:02] sambhavgupta0705 commented on #33
Not till now ,will start working on it from tomorrow

On Sat, Oct 1, 2022, 22:10 Brittany Joiner ***@***.***> wrote:

[2022-10-01 18:08] brandonmcconnell commented on #34
Btw @brittanyjoiner15 is there already a ticket created for the routing, so the address bar matches the current tab `id`? If not, I'd be happy to take that one and tackle it next week.

[2022-10-01 18:11] brittanyjoiner15 commented on #34
@brandonmcconnell there is not another ticket for the routing so if you can set up a route for this tab as part of this issue, that would be great!

[2022-10-01 18:16] brandonmcconnell commented on #34
I just realized the live app already does the routing, but I don't see that behavior when running it locally. It probably already works using the `id` of each tab, so there shouldn't be anything left to do there, unless there's another file outside of MainPage where I need to account for that.

Let me know! 🙂

[2022-10-01 18:16] brittanyjoiner15 commented on #33
@sambhavgupta0705 sounds good!

[2022-10-01 18:18] #16 closed, assigned to divyanshraj0408

[2022-10-01 18:19] brittanyjoiner15 commented on #34
@brandonmcconnell sorry i should clarify, there IS an issue for the routing, but not for automatically adding new pages to the routing! Try pulling from `main` and you should see the routing! I've merged several PRs today, one of which includes the logic for routing that you can use!

[2022-10-01 18:19] brittanyjoiner15 commented on #34
@brandonmcconnell here's the routing changes that you should see from `MainPanel` when you pull locally! https://github.com/brittanyjoiner15/eui-event-template/blob/aaf3246cc182dc2800b86d7701a31082a36e52ca/src/components/MainPage.jsx#L70

[2022-10-01 18:23] ranaDherya commented on #12
Hi @brittanyjoiner15, the logic to sort by time is still there I just comment the option  for user to sort by Time. Once the time-zone issue is solved, we can just remove that comment and it should also work for time.

[2022-10-02 02:04] ArshErgon commented on #39
Hey @brittanyjoiner15 I haven't started working on this because I was working on many other open source projects, I will be doing it today, but I done research, I think the script could be possible with GitHub api, the APIs token_key will be generated by you(public key), the key will help us to get pull_request made by people, and it will be a full link, after storing the link, we could split the

[2022-10-02 03:09] divyanshraj0408 opened #64 "[BUG] Unwanted horizontal scroll"
### The problem:
There is some unwanted horizontal scroll due to overflow problem.

### Solution in my mind:
This can be simply solved by setting margin and padding as 0 for the body but there are other methods too to solve this  issue.

### Screenshots:
![Screencast from 02-10-22 08!UNITO-UNDERSCORE!34!UNITO-UNDERSCORE!09 AM IST](https://user-images.githubusercontent.com/73312468/193436105-50957c

[2022-10-02 03:21] brandonmcconnell commented on #34
@brittanyjoiner15 Thanks! Yep, I see that and made the change. I was on a generated copy of the repo rather than a fork, so I switched to a fork so I can sync changes now 👏🏼

[2022-10-02 03:23] brandonmcconnell commented on #34
Btw any chance we could update EUI to the latest version? There have been several improvements made for responsive logic, including a few new hooks I'd like to use from a newer version.

I tried updating locally but ran into some peer dependency errors.

[2022-10-02 03:31] brandonmcconnell commented on #34
If it's too much trouble — no worries. I'm adding a `hooks` directory with a custom hook that wraps the `useIsWithinBreakpoints` hook included in the current version this template uses.

[2022-10-02 04:12] AloyBranCheung opened #65 "[Improvement suggestion] As a user, I can click the navbar brand logo img and text to navigate back to the home page"
Hi @brittanyjoiner15,

I'm new to open-source contributions and hoping to participate in my first hackathon.

As the title suggest, I would like to propose a very simple improvement to UX to the navigation feature of your website based on what I am seeing on the production sample link. This feature would involve user feedback (i.e. a cursor change when hovering the navbar brand), in hopes of impro

[2022-10-02 04:59] sambhavgupta0705 commented on #33
hey I am getting an error when I am doing yarn install

[2022-10-02 06:48] NandanVyas commented on #44
@brittanyjoiner15 yea I have done the work. I am just looking if I can improve it since this will be my first contribution. I have already discussed the looks and position of the button on Twitter with you.

[2022-10-02 11:12] AyushK-101 commented on #40
Working on it, will drop a message if I need help

[2022-10-02 13:19] #40 closed, assigned to AyushK-101

[2022-10-02 13:27] brittanyjoiner15 commented on #44
@NandanVyas great, thanks for the update! Looking good, just had a few changes requested. Let me know if you need any help with that

[2022-10-02 13:36] #34 closed, assigned to brandonmcconnell

[2022-10-02 13:52] brittanyjoiner15 commented on #33
@sambhavgupta0705 can you share a screenshot of the error?

[2022-10-02 13:52] brittanyjoiner15 commented on #33
@sambhavgupta0705 and have you done a `git pull` from main to confirm you have all the changes?

[2022-10-02 13:55] brittanyjoiner15 commented on #65
@AloyBranCheung welcome to open source contribution!! Thank you so much for your suggestion, and we are actually halfway there already - we did get the logo changed so that it redirects to the home page, but you make a good point about the site title as well!

If you'd like to work on that, that would be great! Please use the routing that we have set up already (you can mimic what was done with th

[2022-10-02 13:57] brittanyjoiner15 commented on #34
@brandonmcconnell i actually just about to make an issue for upgrading Eui as I agree, it's probably a good time to do that. If you think it makes sense to be part of this PR, feel free to go for it, but i am also good with the setup you've got and then we can make a new issue for updating Eui and address that in another PR. Would you like to be assigned that issue?

[2022-10-02 13:58] brittanyjoiner15 opened #70 "Upgrade Eui to latest version"
Need to upgrade Eui to latest version which has several improvements, and fixes a bug with local development that does not consistently render icons.

@brandonmcconnell would you like this one since you pointed it out in another PR?

[2022-10-02 13:59] brittanyjoiner15 commented on #39
@ArshErgon thanks for your contribution!

[2022-10-02 13:59] #39 closed, assigned to ArshErgon

[2022-10-02 13:59] brittanyjoiner15 commented on #64
@divyanshraj0408 can you check on https://eui-event.vercel.app/ now and see if you still experience this? We just had a PR submitted for addressing that in another issue

[2022-10-02 14:00] brittanyjoiner15 commented on #64
Closing this for now, but feel free to reopen if you still notice the behaviour!

[2022-10-02 14:00] #64 closed, assigned to nobody

[2022-10-02 14:39] AloyBranCheung commented on #65
Hi @brittanyjoiner15, thanks for the reply. I'm just writing to let you know I've received your assignment. I'll get cracking at orientating and tackling this once I find some time sometime this week. Is that ok?

[2022-10-02 16:06] AloyBranCheung commented on #65
@brittanyjoiner15 I'm not sure how to make you a reviewer on my forked repo, but here's the URL to my pull request [https://github.com/AloyBranCheung/hacktoberEUI](url).

[2022-10-02 16:35] brandonmcconnell commented on #70
@brittanyjoiner15 Sure, I'll take this one on! I can try to have that done by early next week. I'll continue syncing upstream in the meantime to avoid any merge conflicts.

[2022-10-02 20:02] brandonmcconnell commented on #34
@brittanyjoiner15 Absolutely! Responded with more thoughts in the PR (#66). Thanks!

[2022-10-02 21:46] brittanyjoiner15 commented on #70
@brandonmcconnell yes i was going to say make sure you're working on the latest version of main since there's a lot of changes and i can imagine this one would be a real PITA for conflicts 😂

[2022-10-02 21:49] brittanyjoiner15 commented on #65
@AloyBranCheung yes that would be great, but please comment in here every couple of days letting me know your progress in here, because if i don't hear from you after a couple days, I will need to reassign.

And that link actually goes to issues on my branch. I don't see any pull requests from you as they should be showing up over here: https://github.com/brittanyjoiner15/eui-event-template/pulls

[2022-10-02 21:52] #19 closed, assigned to PrathamGwari

[2022-10-02 21:54] brittanyjoiner15 commented on #44
@NandanVyas saw the PR was closed, let me know if you are stuck on anything!

[2022-10-02 21:58] NandanVyas commented on #44
Ok ma’am I will let you know.

[2022-10-02 22:04] #13 closed, assigned to iFrogHop2Worlds

[2022-10-02 22:04] #35 closed, assigned to laxmanbalaraman

[2022-10-02 22:05] brittanyjoiner15 commented on #20
@PrathamGwari are you still planning to work on this one as well to be like the Speaker Info tab?

[2022-10-02 22:18] AloyBranCheung commented on #65
Can you let me know if I did it correctly? I first clicked 'use template' and I guess that forked the repo to me. Then I cloned my forked repo, made changes to the code and pushed my branch to my forked repo and now there's a pull request that I havn't merged yet because I wanted to add you as a reviewer. What have I done wrong?

[2022-10-03 00:50] brittanyjoiner15 commented on #65
Can you post a screenshot of the pull request? Specifically the top where it shows which branches it's comparing?

[2022-10-03 01:53] PrathamGwari commented on #20
Yes I am still willing to work on this issue.

[2022-10-03 13:21] AloyBranCheung commented on #65
![image](https://user-images.githubusercontent.com/104483060/193588084-5a4b84e8-ff70-4fcc-aece-c0959aed414b.png)

[2022-10-03 13:24] brittanyjoiner15 commented on #65
@AloyBranCheung so i believe that is on your repo - if you look at the URL, does it say `/brittanyjoiner/eui-event-template` or does it say `/aloybrancheung/somereponame` because if it's the latter, then you'll need to merge that to main on your fork and then request to merge that to the `brittanyjoiner15` repo.

So, one thing to note - you said you clicked `use template` and i think that behaves

[2022-10-03 13:27] brittanyjoiner15 commented on #65
Check out this video I made showing how to fork and create a PR:

How to create a pull request with no coding required!
https://youtu.be/j1MUcVQn40g

[2022-10-03 14:20] AloyBranCheung commented on #65
Hey, thanks so much for the help. The URL said `/aloybran/cheung/reponame` instead as you mentioned. I was following the instructions in your readme file so may we can change 'use template' to the fork button unless I read/understood it wrong. So I just forked the repo and copy/pasted the changes I made and it seems like it worked!

However, I can't find the cogwheel to add you as a reviewer.  I'l

[2022-10-03 14:51] brittanyjoiner15 commented on #65
@AloyBranCheung yes! confirming i saw your PR opened in the right place and you'reg good to go! Im about to get on a plane but will take a look at it this afternoon!

And yeah - i probably need to update the PR template because i think folks can't actually add me as a reviewer.

And re: the instructions in the readme, if you want to "use" the template, ie, you want to create your own site for an e

[2022-10-03 14:53] AloyBranCheung commented on #65
Thanks for the clarification, that makes more sense maybe it's just because I'm a newbie in open-source haha. Have a safe trip, looking forward to your feedback.

[2022-10-03 14:55] brittanyjoiner15 commented on #65
@AloyBranCheung hahah no worries - i want to be as clear as possible so if it's not clear to you then it's not clear! So i will definitely update and clarify the difference between using and contributing and which process to take!

[2022-10-03 21:22] Mahekjain2706 opened #73 "Add Attractive Buttons"
I want to add some attractive buttons using HTML, CSS, and javascript.
By adding some attractive and animated buttons website look more attractive and by hover effect oh button , it looks more user interactive .

[2022-10-03 21:23] Mahekjain2706 commented on #73
Hey @brittanyjoiner15, I want to work on this task, Can you assign me this task?

[2022-10-04 14:15] brittanyjoiner15 commented on #73
@Mahekjain2706 so we want to keep using the Eui template and Eui buttons, but as long as you can keep using those and add some custom classes, that should be fine! Please share screenshots before submitting the PR so we can make sure we're aligned!

[2022-10-04 15:16] brittanyjoiner15 opened #75 "Utilize Eui's i18n to add internationalization to the app"
Configure the app to utilize i18n so that we can make the website work with other languages!

https://elastic.github.io/eui/#/utilities/i18n

[2022-10-04 15:21] brittanyjoiner15 opened #76 "Translate key text in app to Spanish"
After we have a i18n available, then we'll want to be able to translate key parts of the app. If you speak Spanish and would feel comfortable translating the key text, that would be great!

This is what we need translated:

* tab titles
  * `Event Details`
  * `Speakers`
  * `Talks`
  * `Recordings`
  * `FAQs/Frequently Asked Questions`
* Calendar Button text: `Save the {date} session`
* Second bu

[2022-10-04 15:23] brittanyjoiner15 opened #77 "Translate key text in app to French"
After we have a i18n available, then we'll want to be able to translate key parts of the app. If you speak French and would feel comfortable translating the key text, that would be great!

This is what we need translated:

* tab titles
  * `Event Details`
  * `Speakers`
  * `Talks`
  * `Recordings`
  * `FAQs/Frequently Asked Questions`
* Calendar Button text: `Save the {date} session`
* Second but

[2022-10-04 15:23] brittanyjoiner15 opened #78 "Translate key text in app to German"
After we have a i18n available, then we'll want to be able to translate key parts of the app. If you speak German and would feel comfortable translating the key text, that would be great!

This is what we need translated:

* tab titles
  * `Event Details`
  * `Speakers`
  * `Talks`
  * `Recordings`
  * `FAQs/Frequently Asked Questions`
* Calendar Button text: `Save the {date} session`
* Second but

[2022-10-04 16:28] jbarbaran commented on #76
Hi there, I'm a native Spanish speaker, and I would like to tackle this issue! Can you assign me to it?

[2022-10-04 16:31] brittanyjoiner15 commented on #76
@jbarbaran yes! will do! in your PR, can you add a file that looks like this?

name: `es.json`

and format is
[code]

[2022-10-04 16:46] jbarbaran commented on #76
Quick question @brittanyjoiner15 , the file es.json should be located in any particular path or folder?

[2022-10-04 16:58] brittanyjoiner15 commented on #76
@jbarbaran good question! can you create a folder at the root called `translations` and then place it in there?

[2022-10-04 17:45] krupalitrivedi commented on #17
Hi! I've already started working on it and have made first round of edits, I will make final edits by tomorrow and make a pull request :)

[2022-10-04 18:08] Muhammad-Shahid-Jamal commented on #78
Hi, @brittanyjoiner15 what if I convert it using google and place them in your translation file what do you say about that?

[2022-10-04 18:10] brittanyjoiner15 opened #79 "Create an accessibility checklist"
Add a section to the bottom of the  https://github.com/brittanyjoiner15/eui-event-template/blob/main/docs/research-notes.md file with a checklist of things that we should consider for improving accessibility on the site.

Ideally, you will make a checklist and then :white_check_mark: off any items the site is already doing well with, and then mention any areas that we specifically need to improve

[2022-10-04 18:12] brittanyjoiner15 commented on #78
@Muhammad-Shahid-Jamal i would prefer someone who speaks German Google isn't always very reliable. If you know someone who does and could ask them for the translations and then you implement the file with their translations, that would be great! But my preference is something more credible than Google

[2022-10-04 18:13] brittanyjoiner15 commented on #17
@krupalitrivedi sounds great! thank you for the update, i appreciate it!

[2022-10-04 20:57] m1ga commented on #78
@brittanyjoiner15 I can help you there if you like

[2022-10-04 21:01] brittanyjoiner15 commented on #78
@m1ga that would be great thanks!!

[2022-10-04 21:02] m1ga commented on #78
There is no structure, folder or english template. So should I use the elements form the Spanish translation? How to test it? Those IDs aren't use in the app

[2022-10-04 21:14] m1ga commented on #78
If you have a different structure let me know. Would be better to add the translation methods first before creating the language files ;-)

[2022-10-04 21:27] brittanyjoiner15 commented on #78
@m1ga great question! we have another issue open for actually setting up i18n but as you pointed out, the tokens don't quite exist yet.

If you can just make a `de.json` file in the `Translations` folder  that is templated like this:

[code]

That would be great! See an example of the Spanish one here:
https://github.com/brittanyjoiner15/eui-event-template/blob/main/Translations/es.json

[2022-10-04 21:27] brittanyjoiner15 commented on #78
@m1ga ah just saw your PR! yes exactly like that! Perfect

[2022-10-04 21:27] #78 closed, assigned to m1ga

[2022-10-04 21:40] m1ga commented on #78
@brittanyjoiner15 quickly added a clean-up PR https://github.com/brittanyjoiner15/eui-event-template/pull/82 so other translators have an easier job ;-)

[2022-10-04 21:41] brittanyjoiner15 commented on #78
I appreciate the pro-activeness! Just merged that in

[2022-10-04 22:53] bpvcode commented on #77
Hi there, can you assign this issue to me?
I want to work on this. And this should be probably my first contribution to Hacktoberfest (first time here ehehe) :)
Thank you

[2022-10-04 23:08] bpvcode commented on #75
Hello, can you assign this issue to me?
I will investigate this and try to solve the issue :)
I think I can solve this, I will read the docs and let you know about my progress, once this has been attached to me.

Thanks :)

[2022-10-05 00:51] sanjanaudar commented on #75
Hi @brittanyjoiner15, I'd be happy to take this one. :)

[2022-10-05 01:15] brittanyjoiner15 commented on #75
@sanjanaudar awesome! let me know if you have any questions or need any help!

[2022-10-05 01:17] brittanyjoiner15 commented on #77
@bpvcode awesome! welcome! I see you are from Portugal - do you have any profiles or work that shows you know French? Would love a french speaker to take this issue since simply using Google Translate isn't always accurate. If you do speak French, that's great! But would just love to see some work that shows that!

[2022-10-05 01:18] #76 closed, assigned to jbarbaran

[2022-10-05 01:51] #21 closed, assigned to shahx95

[2022-10-05 07:46] OjashKush commented on #77
can you assign this?

[2022-10-05 09:32] Nasimmhn commented on #79
Hi @brittanyjoiner15
I like to work on this task, Can you assign me this task?

[2022-10-05 14:15] PrathamGwari commented on #20
@brittanyjoiner15 can you have a look at this.

https://drive.google.com/file/d/1JwU9SBdsTQ6xRwtqOxPx4iRtNL6gAxNx/view?usp=sharing

Is the date fine or I have to format it to show month name?

[2022-10-05 17:16] bpvcode commented on #77
Hello @brittanyjoiner15  ,

Yes, I'm happy to say that I'm Portuguese :)
However, I work daily with French people, both colleagues, and clients. And this kind of translation doesn't seem to be much difficult btw.
I'm working as a backend developer on a French website that allows users to ship different packages around France. (I can't share the code because is on a private repo inside my company G

[2022-10-06 04:30] brittanyjoiner15 commented on #77
@bpvcode that's good enough for me! I'll assign to you now!

[2022-10-06 04:31] brittanyjoiner15 commented on #77
@OjashKush sorry, bruno asked about this first so I'll be assigning to him.

[2022-10-06 04:35] #44 closed, assigned to NandanVyas

[2022-10-06 04:49] brittanyjoiner15 commented on #20
@PrathamGwari that looks awesome! I think the format is fine, if you can just check that it doesn't break anything with the time zone conversion, but I think that's just on the session timestamp field - although i believe we pass it a whole timestamp string with date, so we might need to check that function still works with receiving the data like this. But as long as that works for session time t

[2022-10-06 06:21] PrathamGwari commented on #20
https://user-images.githubusercontent.com/75363815/194228691-b73718a2-ead5-489c-a0ca-417383b7e748.mp4

@brittanyjoiner15 I think the timezone feature is working fine too, will open a pull request soon.

[2022-10-06 21:42] bpvcode commented on #77
Hello, @brittanyjoiner15 I already did the PR for you to review.

I can't assign you as a `reviewer`, nor assign me as `assignee`. So I comment on the description of the PR. If it was just me that was a noob, please tell me how can i do this when I create a PR, that way in the next PR I will do it :)

I add the french translations as we talked, and I did small fixes as well, all explained in the P

[2022-10-06 22:22] bpvcode commented on #79
Hello, can I work on this issue? :)

[2022-10-06 22:38] brittanyjoiner15 commented on #79
@bpvcode yes! assigning you now!

[2022-10-07 03:08] chiragkhatri19 opened #86 "Add a Banner for the Header of Readme File"
Hello Everyone, I am Graphics Designer too, So thought why not to contribute a Minimal Banner for the Readme File.

[2022-10-07 04:01] brittanyjoiner15 commented on #86
@chiragkhatri19 assigned!

[2022-10-07 04:51] chiragkhatri19 commented on #86
Hey @brittanyjoiner15  Can you add Hacktoberfest Labels to it please

[2022-10-07 15:35] brittanyjoiner15 opened #88 "Need a favicon image"
Need a new favicon to replace the rainbow image. If we can stay on theme for the identity theft conference that would be awesome!

[2022-10-07 15:36] chiragkhatri19 commented on #88
Already here @brittanyjoiner15

[2022-10-07 15:37] #86 closed, assigned to chiragkhatri19

[2022-10-07 15:43] chiragkhatri19 opened #90 "Edit the Pull Request Template"
Edit it by removing the Assignee and Reviewer Lines

[2022-10-07 15:44] brittanyjoiner15 commented on #90
Something else i would like to include, is if we can specify to say "fixes {link to issue}" so that it will automatically close that issue when i merge the PR

[2022-10-07 15:47] brittanyjoiner15 commented on #88
In the PR if you can just delete the original `favicon.ico` file and add the new one with the same name, that would be great, so we don't need to update any references to it.

[2022-10-07 16:47] #65 closed, assigned to AloyBranCheung

[2022-10-07 17:21] shahx95 opened #93 "rename contributing.md to CONTRIBUTING.md"
For the purpose of maintaining consistency.

[2022-10-08 18:05] #93 closed, assigned to nobody

[2022-10-08 18:07] #36 closed, assigned to SahilAnower

[2022-10-09 03:51] SahilAnower opened #95 "Join the Slack Group!"
### Hey brittanyjoiner15 , do we have the slack group available? If yes , then we can redirect users to the slack group link, where they can join in immediately!

[2022-10-09 20:04] 0xClint commented on #33
Hey can I contribute to this issue ?

[2022-10-09 20:05] 0xClint commented on #79
hey, can I also contribute to this issue?

[2022-10-10 03:43] dharmesh1999 commented on #33
I am also want to help on frontend part.

[2022-10-10 14:05] 0xClint commented on #88
Hey can you assign this to me, I can make the favicon image

[2022-10-10 14:06] 0xClint commented on #90
Hey is this issue solved?

[2022-10-10 14:08] 0xClint commented on #73
Hey, @brittanyjoiner15 is this issue solved? If not, can you assign this to me? I have some ideas.

[2022-10-10 15:29] brittanyjoiner15 commented on #73
@Mahekjain2706 wanted to check in on this! Have you had a chance to work on it?

[2022-10-10 15:38] brittanyjoiner15 commented on #90
@Omkar0803 yes it has! sorry need to close it.

[2022-10-10 15:38] #90 closed, assigned to chiragkhatri19

[2022-10-10 15:38] brittanyjoiner15 commented on #88
@Omkar0803 sorry this one also should have been closed as it's been completed. So sorry about that!

[2022-10-10 15:38] #88 closed, assigned to chiragkhatri19

[2022-10-10 15:40] #77 closed, assigned to bpvcode

[2022-10-10 15:41] brittanyjoiner15 commented on #33
@sambhavgupta0705 hey can you tell me more about the error? Have you had a chance to resolve it? Please let me know if you need any help or if you've made progress, otherwise I will need to re-assign per our guidelines since I haven't heard from you in a couple days.

[2022-10-11 09:14] SATYAM1548 commented on #17
@brittanyjoiner15
hello! I am new to open source could you assign this to me if its open.

[2022-10-11 11:12] SATYAM1548 commented on #17
@brittanyjoiner15
hello! I found some typos and while while setting up this project locally I ran into one error
error : 'react-scripts' is not recognized as an internal or external command
solved using :https://stackoverflow.com/questions/47928735/react-scripts-is-not-recognized-as-an-internal-or-external-command
I have made the required changes in readme.
The readme is  easy to understand.

[2022-10-11 17:21] sambhavgupta0705 commented on #33
Hey,Sorry I am not able to resolve it,You can assign it to some other person

[2022-10-11 17:30] brandonmcconnell commented on #33
@brittanyjoiner15 Can I take this one, since I wrapped up my other task? 🙂

[2022-10-11 17:32] brittanyjoiner15 commented on #33
@brandonmcconnell and @dharmesh1999 and @Omkar0803 - since all three of you are asking, first one of you to respond to this i will assign!

[2022-10-11 17:33] brandonmcconnell commented on #33
Me me me! @brittanyjoiner15

[2022-10-11 17:51] dharmesh1999 commented on #33
@brittanyjoiner15  Please assign to me

[2022-10-11 18:15] brittanyjoiner15 commented on #33
@brandonmcconnell you responded first so im assigning to you! please comment back within 48 hours on progress updates! Thanks!

@dharmesh1999 so sorry- feel free to check and see if there are any other issues open, and if not you are welcome to review the code and the app and propose an issue! If i feel it valid and would be useful, I'll be happy to assign to you.

[2022-10-11 19:12] brandonmcconnell opened #98 "Loading state for page content while loading"
Most pages in the application do not show any content on the page while loading and simply collapse as if no content is still being processed, even on a relatively fast internet connection. This may confuse users into thinking there is no content to see, who might then leave the page/site before the content is loaded.

In some cases, such as the Talks page, the table _does_ display before the cont

[2022-10-11 19:13] brandonmcconnell commented on #98
@brittanyjoiner15 If you wouldn't mind assigning me, I'd be happy to take this one as well. Otherwise, it could be a great ticket for any willing party. 🙂

[2022-10-11 19:15] brandonmcconnell commented on #98
@brittanyjoiner15 In fact, if you wouldn't mind holding off until later to assign this one, I should be able to wrap up my existing ticket before then.

[2022-10-11 22:34] brandonmcconnell commented on #33
@brittanyjoiner15 Thanks! PR #99 should resolve this one. Let me know if you have any changes on that one (in the PR).

[2022-10-12 01:03] brittanyjoiner15 commented on #33
@brandonmcconnell thanks! i've seen the PR come in and will review soon and let you know!

[2022-10-12 01:04] brittanyjoiner15 commented on #98
@brandonmcconnell sounds good! I agree this is a great issue - will assign to you after we wrap up the other PR!

[2022-10-12 01:05] brittanyjoiner15 commented on #95
@SahilAnower this is something that will be customized for each person who uses the template, so it's intentionally left with a `#` / blank URL so people can customize it. Thanks for checking though!

[2022-10-12 01:05] #95 closed, assigned to nobody

[2022-10-12 01:05] brandonmcconnell commented on #33
@brittanyjoiner15 Thanks!

[2022-10-12 01:08] brittanyjoiner15 commented on #79
@bpvcode hey just wanted to check on this! Have you made any progress on it or are you stuck with anything?

[2022-10-12 01:23] brandonmcconnell commented on #98
@brittanyjoiner15 Sounds good!

[2022-10-12 01:41] brittanyjoiner15 commented on #17
@SATYAM1548 can you share a screen recording of this error? Also, can you confirm if you ran `yarn install` and `yarn start dev`?

[2022-10-12 01:42] brittanyjoiner15 commented on #17
@krupalitrivedi just wanted to check on in this! do you need any help with anything?

[2022-10-12 01:42] #20 closed, assigned to PrathamGwari

[2022-10-12 01:43] #47 closed, assigned to dreymoreau

[2022-10-12 01:43] brittanyjoiner15 commented on #70
@brandonmcconnell do you have a PR for this?

[2022-10-12 01:44] brittanyjoiner15 commented on #73
@Omkar0803 i haven't heard from @Mahekjain2706 so i believe this one is up for grabs. Are you still interested in working on it?

[2022-10-12 01:44] brittanyjoiner15 commented on #75
@sanjanaudar just wanted to check in on this and see how things are going?

[2022-10-12 01:46] brittanyjoiner15 commented on #79
@Omkar0803 this has been assigned to @bpvcode but you're welcome to coordinate with them, or if I do not hear from them by tomorrow, it will be up for re-assignment, so you're welcome to respond back on Thursday if they have not posted

[2022-10-12 01:48] brandonmcconnell commented on #70
@brittanyjoiner15 No, not yet. This one will likely be a bigger change, and I won't have enough time to look at it until I'm back from traveling next week, so could we free this one up for now? If it's still pending when I'm back, I'd be happy to pick it back up.

[2022-10-12 01:51] brittanyjoiner15 commented on #70
@brandonmcconnell yep no worries! i will un-assign you for now, and if it's available when you're back you're welcome to grab it!

[2022-10-12 01:52] brandonmcconnell commented on #70
@brittanyjoiner15 Thanks!

[2022-10-12 02:11] krupalitrivedi commented on #17
Hi! No no i don't. I just got stuck in sometime IRL that's why unable to make a PR. I'm trying my best.

[2022-10-12 02:20] brittanyjoiner15 commented on #17
@krupalitrivedi that is okay! if you are unable to work on it, that is no problem, per our guidelines if there is no update within 3 days we will need to reassign it. i will unassign you for now, and when you are free, if it is unclaimed, you're welcome to pick it up again!

[2022-10-12 02:26] chiragkhatri19 opened #100 "Remove the Extra "Readme" Title in the Readme File"
I was just scrolling through the repo admiring the header I made and saw there are 2 "Readme" title. I thought it's looking odd. So just edited it from my phone.
![IMG_20221012_074801](https://user-images.githubusercontent.com/89431059/195234705-2c863a7a-6cd3-49e0-83b6-fcf6f669cc93.jpg)

[2022-10-12 03:03] brittanyjoiner15 commented on #100
@chiragkhatri19 this is a good catch! I'll assign you this one.

[2022-10-12 03:53] SATYAM1548 commented on #17
@brittanyjoiner15
thanks for your reply yes I ran yarn install and yarn start dev
error then came was::'react-scripts' is not recognized as an internal or external command
so I solved this using stack overflow .
I didnt record at that time but using readme I was able to run this app locally.
i have made a pr regarding this.

[2022-10-12 03:59] SATYAM1548 commented on #100
@brittanyjoiner15 if its open can i work on this

[2022-10-12 04:01] brittanyjoiner15 commented on #17
@SATYAM1548 yes, but i closed that PR because i need to understand the error better first. can you switch to main and try to run it again and reproduce the error?

[2022-10-12 04:02] brittanyjoiner15 commented on #100
@SATYAM1548 this is already assigned, please look for any unassigned issues!

[2022-10-12 04:07] SATYAM1548 commented on #17
@brittanyjoiner15 ok i will try to reproduce the same error.

[2022-10-12 04:09] brittanyjoiner15 commented on #17
@SATYAM1548 thank you! if you can create a new issue when you do that with the error details, that would be great! Please wait until i assign that issue to you before working on a fix. thanks!

[2022-10-12 05:43] 0xClint commented on #73
Yes, @brittanyjoiner15 I would like to contribute!

[2022-10-12 08:32] krupalitrivedi commented on #17
Hi brittany, if you can asssign it again, I'd like to make the changes - as I have already worked on half of the file :)

[2022-10-12 13:13] varunsood2003 commented on #79
Hey I'm new to open source contribution but would love to work and learn with you can you assign me a issue ?

[2022-10-12 14:07] bpvcode commented on #79
Hello @brittanyjoiner15, I'm working on this :)
I'm making a list of things that we should take care of, and after that, I will suggest implementing a technology that can analyze each PR and give us a report on different topics, accessibility is one of them.
But I think this should be done in another Issue :)
Probably tonight or tomorrow I will do the MR :)

[2022-10-12 14:14] sanjanaudar commented on #75
@brittanyjoiner15 It's going slow but steady.

[2022-10-12 15:29] brittanyjoiner15 commented on #75
@sanjanaudar great! per our guidelines, please post a comment in here every 2 days to let me know the status! if i don't hear from you for a period of more than 2 days, I'll need to reassign, so just keep me posted please!

[2022-10-12 15:30] brittanyjoiner15 commented on #79
@varunsood2003 please check for unassigned issues, or create one if you have an idea of something that will improve the site!

[2022-10-12 15:31] brittanyjoiner15 commented on #79
@bpvcode that's great! I agree - feel free to create another issue for the automation piece on PRs. thanks!

[2022-10-12 20:10] domstrozynski commented on #76
Hi @brittanyjoiner15  , if you need Polish translation I could be of use 😃

[2022-10-12 20:15] brittanyjoiner15 commented on #76
@domstrozynski sure!! Can you create an issue for it and I'll assign it!

[2022-10-12 20:23] domstrozynski opened #105 "Polish translation"
Hi, I can translate app into Polish, let me know what's needed ^_^

[2022-10-13 02:56] brittanyjoiner15 commented on #17
@krupalitrivedi since you have linked a pull request, i will allow this! for future issues, if you go more than a couple days without sharing an update, I will need to re-assign. This helps make sure no one is ghosting me or hoarding issues and preventing others from working on them. I see you have a PR so I will take a look at that! Thanks!

[2022-10-13 03:08] brittanyjoiner15 commented on #105
@domstrozynski that would be great, thanks! Assigning you now!

[2022-10-13 03:09] #100 closed, assigned to chiragkhatri19

[2022-10-13 03:09] brittanyjoiner15 commented on #73
@Omkar0803 assigning you now!

[2022-10-13 06:56] SahilAnower commented on #98
@brittanyjoiner15  Can I hop onto this one? Or is it taken 🙂

[2022-10-13 09:07] SATYAM1548 opened #107 "error - react scripts command not found."
while working in local environment  I got one bug after running yarn start dev.
error stated react scripts not found

[2022-10-13 10:04] bpvcode commented on #107
Hello @SATYAM1548 ,

I think, **but I'm not sure**, this could be related to the scripts declared in `package.json` file. As you will see in the next screenshot, there is no `yar start dev` declared in the scripts. But if you run only `yarn start` everything should run well because that script is declared in the file:

![package_json_scripts](https://user-images.githubusercontent.com/66181027/1955

[2022-10-13 10:42] SATYAM1548 commented on #107
@brittanyjoiner15
hello!
I think @bpvcode is right we have two ways to resolve this issue.

[2022-10-13 14:25] sanjanaudar commented on #75
@brittanyjoiner15 Got it! I won't be able to work on it till next Thursday. If you want to assign it to someone else.
If its still available then I can it up again.

[2022-10-13 14:47] brittanyjoiner15 commented on #107
@bpvcode thank you for digging into this! I really appreciate that. and @SATYAM1548 for reporting it! My recommendation is that we update the readme and it should say `yarn start` and not `yarn started dev`. @SATYAM1548 since you identified the bug, would you like to create a quick PR for that change?

[2022-10-13 14:54] brittanyjoiner15 commented on #75
@sanjanaudar ah understandable! i will unassign it for now, but i don't think I've seen much interest in yet, so it very well may remain available! Just let me know when you're ready to work on it and I'll assign you right away!

[2022-10-13 14:58] brittanyjoiner15 commented on #98
@brandonmcconnell would you mind is @SahilAnower jumps on this one? Or would you prefer it? I know you're waiting on me for PR review on your other issue, so if you want to go ahead and start on this one that's fine, but if you aren't able to start on it, then can @SahilAnower tackle it?

[2022-10-13 15:03] brandonmcconnell commented on #98
Sure, he can have this one! Gotta spread the love, right? 😉

[2022-10-13 15:05] brittanyjoiner15 commented on #98
@brandonmcconnell that's very nice of you! Thanks! @SahilAnower feel free to work on this! Ill assign to you. Please comment in here every couple of days to let me know your progress on it, otherwise if i don't hear anything I will need to reassign. Thanks!

[2022-10-13 15:30] SATYAM1548 commented on #107
@brittanyjoiner15 thanks for giving me this opportunity.
Yes, I would like to create a quick PR for that change.
can u label this issue as a hactoberfest issue

[2022-10-13 15:33] brittanyjoiner15 commented on #107
@SATYAM1548 added! also, it shouldnt be required since there's a topic in the repo for `hacktoberfest`, but i understand wanting to be double sure it counts, so i added it!

[2022-10-13 16:15] SATYAM1548 commented on #107
@brittanyjoiner15 thanks!

[2022-10-13 16:52] SahilAnower commented on #98
Thanks a lot! I will update you as soon as I produce some fine tuning! 😊

[2022-10-13 16:53] brittanyjoiner15 commented on #98
@SahilAnower thank!! also, if you want to join, I've started doing some live coding/hacking/reviewing on fridays on a live stream on my youtube channel! if you want to come join and work together, im happy to provide feedback and hang out as we go! planning to go live tomorrow around 12pm EST: https://youtu.be/ljgQIO9r8CI

[2022-10-13 17:36] domstrozynski commented on #105
@brittanyjoiner15  great! Can you confirm that items from this post https://github.com/brittanyjoiner15/eui-event-template/issues/76 is all that needs to be translated or there's more now?

[2022-10-13 17:36] m1ga commented on #107
just a quick info @brittanyjoiner15:
no need for the label on the ticket, nor the `hacktoberfest-accepted` label on the PR itself. You've tagged the whole repo with `hacktoberfest` - that is enough :+1:
Keep up the good work :heart:

[2022-10-13 18:35] SATYAM1548 commented on #107
@brittanyjoiner15
thanks. this was my first open source contribution. Thankyou so much

[2022-10-13 19:26] brittanyjoiner15 commented on #107
@m1ga yeah thanks for confirming it's not needed! I assumed it wasn't but added that all to be sure. WIll save me some time to not have to worry about that anymore haha

and congrats @SATYAM1548 appreciate your help!!

[2022-10-13 19:26] #107 closed, assigned to SATYAM1548

[2022-10-13 19:27] brittanyjoiner15 commented on #105
@domstrozynski yes just those items at this point, thanks!

[2022-10-14 07:15] SahilAnower commented on #98
Hey for sure! I will definitely join in. Just wanted to know that whether elastic ui by inbuilt provide anything for defining global context something such as usecontext in case of react? I was thinking to take the loading state as a global state as it would be used in three different pages.

[2022-10-14 10:06] bpvcode opened #110 "Add lighthouse tool to analyse the repository in terms of performance, accessibility, best practices and SEO"
This feature will allow us to:

* Get a Lighthouse report alongside every PR.
* Prevent regressions in accessibility, SEO, offline support, and performance best practices.
* Track performance metrics and Lighthouse scores over time.
* Compare two versions of your site to find improvements and regressions of individual resources.

We will have local reports for each commit

[Documentation](https://

[2022-10-14 10:07] bpvcode commented on #110
@brittanyjoiner15 ,
I will love to implement this one :) Can you assign this to me?

Thanks

[2022-10-14 10:08] bpvcode commented on #110
@brittanyjoiner15 ,
Once you are the maintainer of the project, can you please add the labels to this issue?

[2022-10-14 13:53] mendex94 commented on #75
Hi, I'd be like to give it a try! Can you assign this to me?

[2022-10-14 16:20] brittanyjoiner15 commented on #110
@bpvcode hey this seems like a good idea! I'll assign it to you! thanks for submitting it. will also add some labels.

[2022-10-14 16:46] #79 closed, assigned to bpvcode

[2022-10-14 16:52] brittanyjoiner15 commented on #75
@mendex94 yes I can assign to you! Let me know if you need any help, and please check in here within a couple days with a progress update so i know you're still interested!

[2022-10-14 16:59] brittanyjoiner15 commented on #73
@Omkar0803 hey just wanted to check in and see if you had made any updates or needed any help!

[2022-10-14 17:45] brandonmcconnell commented on #98
@SahilAnower I don't see the comment you posted anymore, but this ticket should **_not_** need a global state (context) for managing the loading state. Rather, this should be per component using React Suspense, which does it that way by default. That way, the entire site can show the content that is already available and only show loading spinners/verbiage for content that is still loading.

The o

[2022-10-14 17:50] brittanyjoiner15 commented on #98
@brandonmcconnell thank you for jumping in because i also saw that comment and then did not see it and totally forgot about it. thanks for jumping in with a helpful response there! I really appreciate it!

[2022-10-14 18:09] brandonmcconnell commented on #98
@brittanyjoiner15 Sure thing!

[2022-10-14 19:26] brandonmcconnell commented on #98
I looked into it briefly but it's becoming a rabbit hole. I'll circle back to this early next week 🙂

[2022-10-14 19:44] mendex94 commented on #75
@brittanyjoiner15 Thanks, I'll start monday!

[2022-10-14 19:54] brittanyjoiner15 commented on #98
@brandonmcconnell ^ liteally me every time i try debugging haha. @SahilAnower let us know if that makes sense or you need more direction there!

[2022-10-14 21:23] brandonmcconnell commented on #98
@brandonmcconnell Whoops meant to post that on #99 🤷🏻‍♂️ my bad

[2022-10-16 16:12] SahilAnower commented on #98
![spinner-unscreen](https://user-images.githubusercontent.com/49086583/196046057-a79a46d3-5b91-4ba9-9aa4-cddd578fad96.gif)
@brittanyjoiner15 does this look good for waiting time? Just finishing it up. 😊

[2022-10-17 20:31] SATYAM1548 opened #112 "renaming the contributor.md file to CONTRIBUTOR.md"
for maintaining the consistency of code base .

![image](https://user-images.githubusercontent.com/90546720/196277137-574fbffd-2ca5-466b-a1cf-f0399128b92a.png)

can I edit this brittanyjoiner15

[2022-10-18 06:09] SATYAM1548 commented on #112
@brittanyjoiner15

[2022-10-20 01:25] #98 closed, assigned to SahilAnower

[2022-10-20 01:29] #105 closed, assigned to domstrozynski

[2022-10-20 01:40] brittanyjoiner15 commented on #12
@ranaDherya i'm reassigning as it's been over two weeks since an update on the PR. Feel free to comment back in here if you're still working on it and i can assign to you again if it's available.

[2022-10-20 01:44] brittanyjoiner15 commented on #112
@SATYAM1548 sure! can you check through all the other existing file names and folders and make any other recommendations for sentencing and structure?

[2022-10-20 01:45] brittanyjoiner15 commented on #75
@mendex94 just wanted to check if you have an update on this!

[2022-10-20 01:45] brittanyjoiner15 commented on #73
@Omkar0803 i am unassigning you since I haven't heard anything in a week, but feel free to comment back on here and i will assign again if it's available

[2022-10-20 01:46] #73 closed, assigned to 0xClint

[2022-10-20 01:56] brittanyjoiner15 commented on #98
@SahilAnower just now seeing this comment - but i love it haha very cool and original!

[2022-10-20 02:25] pantbibek21 commented on #33
This is my first time looking at and understanding open source. Even got a couple of PR merged for the first time. Reading the above comments makes me realize how humble and supportive open-source contributors and maintainers are : )

[2022-10-20 02:30] brittanyjoiner15 commented on #33
@pantbibek21 welcome!! Yeah it's a pretty great crew and hacktoberfest is one of my favorite times of year bringing us all together! If you want I've got a small slack community of folks working on things together - not just for hacktoberfest - it's mostly junior developers and us all trying to learn and grow together! You're welcome to join if you'd like! Let me know and I'll share an invite

[2022-10-20 03:15] pantbibek21 commented on #33
@brittanyjoiner15 yeah, I would love to join.

[2022-10-20 03:16] brittanyjoiner15 commented on #33
@pantbibek21 we'd love to have you! here's a link! https://join.slack.com/t/build-with-britt/shared_invite/zt-1ew1pk4w7-sVTSOA4QSA1B6kOpMUBE_A

[2022-10-20 03:38] pantbibek21 commented on #33
Thank you so much. I have joined the community : )

[2022-10-20 03:39] dharmesh1999 commented on #33
Can I also join?

[2022-10-20 03:40] dharmesh1999 commented on #33
Can I join too?

[2022-10-20 03:46] dharmesh1999 commented on #33
I have one year of experience but newbie in open source

[2022-10-20 04:20] brittanyjoiner15 commented on #33
Yeah feel free to join! Same link should work!

On Wed, Oct 19, 2022 at 22:46 dharmesh1999 ***@***.***> wrote:

--
*Brittany Joiner*
Developer, Marketer, Trello <https://trello.substack.com/> Nerd
865.223.1860
brittanyjoiner.com
TW: @britt_joiner <https://twitter.com/britt_joiner>

[2022-10-20 06:10] SATYAM1548 commented on #112
@brittanyjoiner15
hello!
Yes , I will go through all in a day.

[2022-10-20 13:49] brittanyjoiner15 commented on #112
@brittanyjoiner15 thanks!

[2022-10-20 21:21] SATYAM1548 commented on #112
@brittanyjoiner15
I went over all the files and folders rest all is fine.

[2022-10-20 21:25] SATYAM1548 commented on #112
@brittanyjoiner15
code base has no LICENSE file

[2022-10-20 21:29] SATYAM1548 opened #117 "readme.md file has broken links"
contributing guideline link directs to : https://github.com/brittanyjoiner15/eui-event-template/blob/main/contributing.md

ss
![image](https://user-images.githubusercontent.com/90546720/197062123-81311704-d06a-4e04-8065-be80459f4efb.png)

not proper redirection for open issues in readme.md.

@brittanyjoiner15 can I work on this

[2022-10-20 21:55] SATYAM1548 commented on #117
@brittanyjoiner15
hello!
could you have a look at this pr under hacktober fest thanks.

[2022-10-21 21:42] #112 closed, assigned to SATYAM1548

[2022-10-21 21:43] #117 closed, assigned to nobody

[2022-10-22 04:30] raghavpatidar commented on #12
Please assign this to me since I would really like to work on it.

[2022-10-22 21:39] brittanyjoiner15 commented on #12
@raghavpatidar assigning you now! please add a comment every couple of days to let me know you're progress on it!

[2022-10-25 14:52] brandonmcconnell commented on #33
@brittanyjoiner15 any chance you could open a separate ticket linked to this one to resolve that bug? I'm coming up empty-handed here, even though the sponsor section is completely done 😕

[2022-10-25 17:47] brittanyjoiner15 commented on #33
@brandonmcconnell im happy to create a separate issue for it - but i don't want to merge the sponsor section WITH the bug. Are you able to see the sponsor section without the bug? If i recall i wasn't noticing it on main, so i'd be hesitant to merge the bug into main.

[2022-10-25 17:54] brandonmcconnell commented on #33
@brittanyjoiner15 Yes, you can see the section fine without the bug, but if you click the dark/light toggle, the bug arises. I feel as though that's where the bug is actually coming from (in how the two interact), but I could be wrong. Either way, this PR would expose that bug.

[2022-10-25 17:58] brittanyjoiner15 commented on #33
@brandonmcconnell right, but does the bug only happen with the light/dark mode on sponsor section. So are you proposing we merge it as is since it's working in the user's modes and then create a separate issue for fixing the bug? I think i'd still prefer to not merge a PR that introduces a bug, even if it only happens _sometimes_

[2022-10-25 18:02] brandonmcconnell commented on #33
No, I 100% agree. I'm fine waiting until the bug is resolved to merge this PR even if it's after the end of the month. I've already merged a good 10 or so PRs, so I'm in no rush 🙂

[2022-10-25 18:04] brittanyjoiner15 commented on #33
@brandonmcconnell ah okay gotcha, so the goal of a separate issue is just for tracking work specifically on that bug?

[2022-10-25 18:05] brandonmcconnell commented on #33
Yes, precisely, or we can invite others to collaborate on that issue using this PR, but I'm not so sure the bug is related to this PR. It might be, so this could be a shared PR situation 🤷🏻‍♂️

[2022-10-25 18:30] brittanyjoiner15 commented on #33
@brandonmcconnell ah gotcha! i see what you mean! Yeah ill open up a separate ticket!

[2022-10-25 18:32] brittanyjoiner15 opened #119 "App crashes when toggling light mode (noticed with Sponsor Section PR)"
Noticed this in this PR introducing the sponsor section: https://github.com/brittanyjoiner15/eui-event-template/pull/99

For some reason the app crashes when you click on the toggle to change from light to dark and vice versa. I don't see this happening on main, so i think it might be just this branch.

cc @brandonmcconnell can you add any commentary here on anything you've tried thus far and anyt

[2022-10-25 18:47] brandonmcconnell commented on #119
Sure, I wasn't able to diagnose the issue so far, but I think it may have something to do with the way in which the app re-render occurs at the top-level when switching themes. Though, it could also just be something messed up with my implementation of the sponsor section as well, so definitely check that and don't hold back 🙂

[2022-10-28 15:11] brittanyjoiner15 opened #120 "Social icons need to be centered in bottom bar/footer"
<img width="1698" alt="image" src="https://user-images.githubusercontent.com/16166290/198670639-642589b1-4616-4bc4-94a9-6910cd267d74.png">

I feel like the social icons should be shifted to the left a bit to not look off center from the content above.

[2022-10-28 15:20] adsingh14 opened #121 "Minor UI fixes"
On both live/local website:

1. Logo changes on switching theme

![image](https://user-images.githubusercontent.com/35252877/198669909-02a5048c-2d06-4ec6-81bd-d3a0a4da826d.png)
![image](https://user-images.githubusercontent.com/35252877/198669993-e699e4c5-cf31-4ec3-a919-a7145e032e01.png)

2. Full width container for navbar will look better
![image](https://user-images.githubusercontent.com/3525287

[2022-10-28 15:21] chiragkhatri19 commented on #120
I'll do it brittany, Please assign me this one

[2022-10-28 15:22] adsingh14 commented on #120
It's because of `CSS flexbox` though.

[2022-10-28 15:24] chiragkhatri19 commented on #120
I'll try to fix it, If I need any help I'll tell you
!

[2022-10-28 15:26] brittanyjoiner15 commented on #121
@adsingh14 i would love if you can fix these! Those are all great points, here are some additional details for you that may help.

1. I am not too worried about this one, i know it's a different logo, but it's pretty subtle so im okay with it! But if you want to propose a light and dark version that is fine with me!
2. Agree on the full width navbar - that would be great, especially since our foot

[2022-10-28 15:27] adsingh14 commented on #119
What I've checked that there's no Sponsor section on live website.

[2022-10-28 15:28] brittanyjoiner15 commented on #75
@mendex94 going to unassign you since it's been 2 weeks since we've heard from you, but feel free to comment in here and grab it again if you want to work on it and it's available!

[2022-10-28 15:33] adsingh14 commented on #121
Fourth point occurs only on local server, maybe that's connected with third point. Both 3rd and 4th points are working on live website.

I'm figuring the structure to fix the second one. The first one is optional as you said, my priority is only the second point.

[2022-10-28 15:38] adsingh14 commented on #121
Fourth point occurs only on local server, maybe that's connected with third point. Both 3rd and 4th points are working on live website.

@brittanyjoiner15 I'm figuring the structure to fix the second one*. The first one is optional as you said, my priority is only the second point. FAQs and Home page content is in **container** unlike the rest of three pages. I think it's good to put all content i

[2022-10-28 15:47] adsingh14 commented on #121
Fourth point occurs only on local server, maybe that's connected with third point. Both 3rd and 4th points are working on live website.

I'm figuring the structure and CSS. The first one is optional; my priority is only the second point. FAQs and Home page content is in container unlike the rest of three pages. Any thoughts on this ?

[2022-10-28 16:04] brittanyjoiner15 commented on #119
@adsingh14 we haven't merged that live into the site yet, if you want to try it out, you'll need to run this branch from this : #99

[2022-10-28 16:06] brittanyjoiner15 commented on #121
@adsingh14 ah right if it's only on local server, then yes it might have something to do with the 3rd point.

agree on priority is the second point, and first point is optional!

As far as FAQs and Home page - that's a good catch. Maybe we should make that full page too rather than container so i matches other pages. What do you think?

[2022-10-28 17:19] brittanyjoiner15 commented on #121
@adsingh14 closing this out since we resolved the navbar, but if you want to make a separate issue for the full page on then FAQand home, go ahead and do that and ill assign to you!

[2022-10-28 17:19] #121 closed, assigned to adsingh14

[2022-10-28 17:28] adsingh14 commented on #121
@brittanyjoiner15

I think FAQs page doesn't need to be changed except a minor change. It looks better in center. Yes, I'm working on home page offline and checking EUI docs.

--

Just curious, isn't this project covers 'hacktoberfest 2022'?

[2022-10-28 17:32] brittanyjoiner15 commented on #121
@adsingh14 sounds good, and yes it does!

[2022-10-28 17:33] #17 closed, assigned to krupalitrivedi

[2022-10-28 17:35] adsingh14 commented on #121
I was asking because there's no label on either issue or my commit.

[2022-10-28 17:36] brittanyjoiner15 commented on #121
@adsingh14 yep since the project has the topic `hacktoberfest` it's not need on every issue

[2022-10-28 17:43] adsingh14 opened #123 "Full width home page."
As discussed in https://github.com/brittanyjoiner15/eui-event-template/issues/121#issuecomment-1295158677, it'd be great to make home page full width. FAQs page looks better with `container` look, only title heading is not required.

[2022-10-28 19:41] adsingh14 commented on #70
@brittanyjoiner15 I checked `.lock` file where EUI current version is `61.0.0` and latest version is `70.0.0`. I would like to update it. Any insights on this?

Update: I upgrade EUI on local server. Everything works as expected except those two changes (point 3 and 4) I mentioned in #121.

[2022-10-28 20:15] brittanyjoiner15 commented on #70
@adsingh14 just to check you updated it and those things still did not work?

And nothing broke? If you can please push a PR with those changes, I'll take a look this weekend and run it locally. I am surprised nothing broke 😂 but that would be great!

[2022-10-29 12:20] adsingh14 commented on #70
@brittanyjoiner15  I will push that change in next PR. I've checked all pages and functionality.

[2022-10-30 15:53] #123 closed, assigned to adsingh14

[2022-10-30 16:36] #120 closed, assigned to chiragkhatri19

[2022-10-30 16:47] adsingh14 opened #127 "Home page content is not centred on mobile view."
I checked the home page on mobile and found asymmetrical header buttons (schedule and theme switcher).

![untitled.jpg](https://user-images.githubusercontent.com/35252877/198890583-731a007c-c093-4689-bacf-f9c7f0e3b734.jpg)

- Any views on center align all buttons on header option ? (Optional)
- Apart from that, homepage schedule buttons needs to be center.

[2022-10-31 11:25] adsingh14 commented on #70
@brittanyjoiner15 Today, I sync and update Eui to 70 which shows deprecated errors. I fixed it which broke the CSS of some pages.

Icons are rendered offline after upgrade.

[2022-11-16 16:01] #43 closed, assigned to audreymengue